<section class="achivements js-achivements">
    <div class="achivements__bg">
        <img src="/achivements.webp" alt="" class="achievments__bg-image">
    </div>
    <div class="achivements__content">
        <h2 class="achivements__heading" data-text="Достижения Республики">
            Достижения Республики
        </h2>
        <div class="achivements__cards-slider js-achivements-cards-slider">
            <div class="swiper">
                <ul class="swiper-wrapper achivements__list">
                    {{#each achivements}}
                        <li class="swiper-slide achivements__list-item">
                            <div class="achivements__card">
                                <div class="achivements__card-amount">
                                    {{ amount }}
                                </div>
                                <h3 class="achivements__card-title">
                                    {{ title }}
                                </h3>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <ol class="achivements__cards-slider-pagination">
                {{#each achivements}}
                    <li class="achivements__cards-slider-pagination-bullet">
                        <div class="achivements__cards-slider-pagination-bullet-dot">

                        </div>
                        <div class="achivements__cards-slider-pagination-bullet-timer">
                            <svg viewBox="0 0 100 100">
                                <circle cx="50" cy="50" r="48" stroke-width="1" stroke="#FF0000" fill="none"
                                    vector-effect="non-scaling-stroke" />
                            </svg>
                            <svg viewBox="0 0 100 100">
                                <circle cx="50" cy="50" r="48" stroke-width="1" stroke="#FFFFFF" fill="none"
                                    vector-effect="non-scaling-stroke" />
                            </svg>
                            <div class="achivements__cards-slider-pagination-bullet-timer-number">

                            </div>
                        </div>
                    </li>
                {{/each}}
            </ol>
        </div>

    </div>
    <div class="achivements__leagues-wrapper">
        <div class="achivements__leagues">
            <div class="achivements__leagues-tabs">
                <div class="achivements__leagues-tabs-nav">
                    {{#each achivementsTabs}}
                        <a href="#" class="achivements__leagues-tabs-nav-link">
                            {{ league }}
                        </a>
                    {{/each}}
                </div>
                <div class="achivements__leagues-tabs-items">
                    {{#times 7}}
                        <div class="achivements__leagues-tabs-item">
                            <div class="achivements__leagues-inner-tabs">
                                {{#times 2}}
                                    <div class="achivements__leagues-inner-tab">
                                        <div class="achivements__leagues-team-slider js-achivements-slider">
                                            <div class="swiper">
                                                <div class="swiper-wrapper">
                                                    {{#times 4}}
                                                        <div class="swiper-slide">
                                                            <div class="achivements__leagues-team-slider-card">
                                                                <div
                                                                    class="achivements__leagues-team-slider-card-logo-wrapper">
                                                                    <img src="/akbars.svg" alt=""
                                                                        class="achivements__leagues-team-slider-logo">
                                                                </div>
                                                                <div
                                                                    class="achivements__leagues-team-slider-card-main-content">
                                                                    <div
                                                                        class="achivements__leagues-team-slider-card-top-row">
                                                                        <div
                                                                            class="achivements__leagues-team-slider-card-selector">
                                                                            <button
                                                                                class="achivements__leagues-team-slider-card-selector-btn"
                                                                                type="button">
                                                                                <span
                                                                                    class="achivements__leagues-team-slider-card-selector-btn-text">
                                                                                    Ак Барс
                                                                                </span>
                                                                                <svg width="14" height="14"
                                                                                    aria-hidden="true">
                                                                                    <use xlink:href="#arrow-down"></use>
                                                                                </svg>
                                                                            </button>
                                                                            <div
                                                                                class="achivements__leagues-team-slider-card-selector-dropdown">
                                                                                <div
                                                                                    class="achivements__leagues-team-slider-card-selector-dropdown-inner">
                                                                                    <ul
                                                                                        class="achivements__leagues-team-slider-card-selector-list">
                                                                                        <li
                                                                                            class="achivements__leagues-team-slider-card-selector-list-item">
                                                                                            <a href="#"
                                                                                                class="achivements__leagues-team-slider-card-selector-link">
                                                                                                Ак Барс
                                                                                            </a>
                                                                                        </li>
                                                                                        <li
                                                                                            class="achivements__leagues-team-slider-card-selector-list-item">
                                                                                            <a href="#"
                                                                                                class="achivements__leagues-team-slider-card-selector-link">
                                                                                                Нефтехимик
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <a href="#"
                                                                            class="achivements__leagues-team-slider-card-profile-link">
                                                                            Профиль команды
                                                                            <svg width="14" height="14"
                                                                                aria-hidden="true">
                                                                                <use xlink:href="#arrow-right"></use>
                                                                            </svg>
                                                                        </a>
                                                                    </div>
                                                                    <div
                                                                        class="achivements__leagues-team-slider-card-text-content">


                                                                        <h3
                                                                            class="achivements__leagues-team-slider-card-heading">
                                                                            Кубок Гагарина – 2009, 2010, 2018
                                                                        </h3>
                                                                        <div
                                                                            class="achivements__leagues-team-slider-card-text">
                                                                            «Ак Барс» – единственный в истории
                                                                            трёхкратный
                                                                            обладатель
                                                                            главного трофея КХЛ. В первом сезоне в
                                                                            финале
                                                                            был
                                                                            обыгран
                                                                            «Локомотив», на следующий год – ХК МВД.
                                                                            Третий
                                                                            Кубок
                                                                            «Ак
                                                                            Барс»
                                                                            завоевал в сезоне 2017/18, победив в финале
                                                                            ЦСКА.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="achivements__leagues-team-slider-card-award-wrapper">
                                                                    <img src="/award.webp" alt=""
                                                                        class="achivements__leagues-team-slider-card-award-image">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {{/times}}
                                                </div>
                                            </div>
                                            <ol class="achivements__leagues-team-slider-pagination">
                                                {{#times 4}}
                                                    <li class="achivements__leagues-team-slider-pagination-bullet">
                                                        <div
                                                            class="achivements__leagues-team-slider-pagination-bullet-dot">

                                                        </div>
                                                        <div
                                                            class="achivements__leagues-team-slider-pagination-bullet-timer">
                                                            <svg viewBox="0 0 100 100">
                                                                <circle cx="50" cy="50" r="48" stroke-width="1"
                                                                    stroke="#D1D6CF" fill="none"
                                                                    vector-effect="non-scaling-stroke" />
                                                            </svg>
                                                            <svg viewBox="0 0 100 100">
                                                                <circle cx="50" cy="50" r="48" stroke-width="1"
                                                                    stroke="#008000" fill="none"
                                                                    vector-effect="non-scaling-stroke" />
                                                            </svg>
                                                            <div
                                                                class="achivements__leagues-team-slider-pagination-bullet-timer-number">

                                                            </div>
                                                        </div>
                                                    </li>
                                                {{/times}}
                                            </ol>
                                        </div>
                                    </div>
                                {{/times}}
                            </div>
                        </div>
                    {{/times}}
                </div>
            </div>
        </div>
    </div>
</section>