<section class="support">
    <div class="support__header">
        <div class="support__header-content">
            <div class="support__header-row">
                <a href="#" class="support__back">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                    Назад
                </a>
                <div class="support__header-text-content">
                    <h1 class="support__heading">
                        История адаптивного хоккея
                    </h1>
                    <div class="support__text">
                        Следж-хоккей – один из видов адаптивного хоккея. Зародился в 1960-х годах в Швеции, силами
                        группы энтузиастов, которые хотели играть в хоккей, несмотря жизненные обстоятельства.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="support__content">
        <div class="support__content-inner">
            <div class="support__sidebar">
                <div class="support__social">
                    <h4 class="support__social-heading">
                        Поделиться:
                    </h4>
                    <ul class="support__social-list">
                        <li class="support__social-list-item">
                            <a href="#" class="support__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#vk"></use>
                                </svg>
                                <span class="support__social-link-text">
                                    ВКонтакте
                                </span>

                            </a>
                        </li>
                        <li class="support__social-list-item">
                            <a href="#" class="support__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#ok"></use>
                                </svg>


                                <span class="support__social-link-text">
                                    Одноклассники
                                </span>
                            </a>
                        </li>
                        <li class="support__social-list-item">
                            <a href="#" class="support__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>


                                <span class="support__social-link-text">
                                    Telegram
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="support__main">

                <div class="support__info">
                    <p>
                        За десятилетие движение расширилось до небольшой следж-хоккейной лиги из пяти команд,
                        базировавшихся
                        в Стокгольме, а в 1969 году состоялся первый международный матч между командами Стокгольма и
                        норвежского Осло.
                    </p>
                    <p>
                        Постепенно адаптивный спорт стал захватывать другие континенты, а на зимней Паралимпиаде 1976
                        года в
                        шведском Эрншёльдсвике состоялся первый выставочный матч под эгидой олимпийского движения. В
                        постоянную программу Паралимпиады следж вошёл с 1994 года, а чемпионаты мира по нему проходят с
                        1996
                        года. Импульсом к развитию следж-хоккея в России стала домашняя Паралимпиада в Сочи. Команду
                        собрали
                        за два года до Игр, её костяком стали игроки в футбол для ампутантов из Удмуртии. Сборная
                        продемонстрировала феноменальный результат, взяв «серебро» в следж-хоккее, уступив в финале
                        команде
                        США с минимальным счётом 0:1.
                    </p>
                    <p>
                        Дальше – больше, годом позже последовала бронзовая медаль ЧМ, а в 2016-м – «золото» ЧЕ. Успехи
                        сборной стали толчком к развитию следж- хоккея в России, в том числе и детского. Во второй
                        половине
                        десятых годов в стране была создана отдельная Детская следж-хоккейная лига.
                    </p>
                    <p>

                        За восприятием лучших практик развития следжа представители лиги отправились в США, где детей
                        набирают в команды не по принципу достижения спортивных вершин, а при наличии желания играть и
                        заниматься спортом.
                    </p>
                    <p>
                        Постепенно к процессу стали подключаться клубы КХЛ: свой следж-хоккейный проект запустил СКА, а
                        главным флагманом детского спорта остаётся Тула, где находится паралимпийская база.
                    </p>
                    <h3>
                        Всего насчитывается пять видов адаптивного хоккея:
                    </h3>
                    <p>
                        Следж-хоккей для лиц с нарушением опорно-двигательного аппарата, хоккей для слабослышащих,
                        хоккей
                        для незрячих, специальный хоккей и хоккей для ампутантов.
                    </p>
                    <h3>
                        В России на уровне федераций сегодня развивается три вида:
                    </h3>
                    <p>
                        Следж-хоккей, специальный хоккей и хоккей для слабовидящих.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>