<section class="areas">
    <div class="areas__ticker js-ticker">
        <div class="areas__ticker-inner js-ticker-inner">
            Ледовые площадки&nbsp;
        </div>
    </div>
    <div class="areas__content">
        <div class="areas__bg">
            <img src="/map-bg.svg" alt="" class="areas__bg-image">
        </div>
        <div class="areas__image-wrapper">
            <img src="/map.svg" alt="" class="areas__image">
        </div>
        <div class="areas__text-content">
            <h2 class="areas__heading">
                Ледовые<br> площадки
            </h2>
            <div class="areas__text">
                Узнай, где можно заняться хоккеем в Республике Татарстан
            </div>
            <a href="#" class="areas__link">
                Найди свой лёд!
            </a>
        </div>
    </div>
</section>