<footer class="page-footer">
    <div class="page-footer__top">
        <div class="page-footer__top-inner">
            <a href="/" class="page-footer__logo">
                <img src="/logo-grey.svg" alt="Logo" class="page-footer__logo-image" width="200">
            </a>
            <nav class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Главная
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Новости
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Календарь
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Ледовые площадки
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            О хоккее в РТ
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Школа хоккея
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-footer__social-wrapper">
                <ul class="page-footer__social-list">
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#ok"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <a href="#" class="page-footer__callback-link">
                    Хочу в хоккей
                </a>
            </div>
        </div>
    </div>
    <div class="page-footer__bottom">
        <div class="page-footer__bottom-inner">
            <div class="page-footer__info">
                <div class="page-footer__copyright">
                    <p>
                        Официальный сайт ООО «hockey.tatar». © 2023
                    </p>
                    <p>
                        При использовании материалов сайта ссылка на источник обязательна
                    </p>
                </div>
                <div class="page-footer__questions">
                    По вопросам обращаться: <a href="#">@artur_sadriev1990</a>
                </div>
                <div class="page-footer__links">
                    <a href="#" class="page-footer__link">
                        Оферта
                    </a>
                    <a href="#" class="page-footer__link">
                        Обработка персональных данных
                    </a>
                </div>
            </div>
            <div class="page-footer__leagues">
                <div class="page-footer__leagues-col">
                    <div class="page-footer__leagues-block">
                        <h4 class="page-footer__leagues-block-title">
                            Профессиональные лиги
                        </h4>
                        <ul class="page-footer__leagues-list">
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    КХЛ
                                </a>
                            </li>
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    ВХЛ
                                </a>
                            </li>
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    МХЛ
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-footer__leagues-block">
                        <h4 class="page-footer__leagues-block-title">
                            Детский хоккей
                        </h4>
                        <ul class="page-footer__leagues-list">
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    Первенство РТ
                                </a>
                            </li>
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    Чемпионат Казани
                                </a>
                            </li>
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    Чемпионат РФ
                                </a>
                            </li>
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    Золотая шайба
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="page-footer__leagues-col">
                    <div class="page-footer__leagues-block">
                        <h4 class="page-footer__leagues-block-title">
                            Женский хоккей
                        </h4>
                        <ul class="page-footer__leagues-list">
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    НЛЖХ
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-footer__leagues-block">
                        <h4 class="page-footer__leagues-block-title">
                            Адаптивный хоккей
                        </h4>
                        <ul class="page-footer__leagues-list">
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    Следж-хоккей
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-footer__leagues-block">
                        <h4 class="page-footer__leagues-block-title">
                            Турниры
                        </h4>
                        <ul class="page-footer__leagues-list">
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    AlgaCup
                                </a>
                            </li>
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    Турниры проводимые Федерацией хоккея г. Казани
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-footer__leagues-col">
                    <div class="page-footer__leagues-block">
                        <h4 class="page-footer__leagues-block-title">
                            Любительские лиги
                        </h4>
                        <ul class="page-footer__leagues-list">
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    Ночная хоккейная лига (НХЛ)
                                </a>
                            </li>
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    Поволжская любительская хоккейная лига (ПЛХЛ)
                                </a>
                            </li>
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    Единая хоккейная лига (ЕХЛ)
                                </a>
                            </li>
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    Студенческая хоккейная лига (СХЛ)
                                </a>
                            </li>
                            <li class="page-footer__leagues-list-item">
                                <a href="#" class="page-footer__leagues-link">
                                    Рабочая хоккейная лига (РХЛ)
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


{{> search }}