<header class="page-header">
    <div class="page-header__calendar">
        <div class="page-header__calendar-slider js-calendar-slider">
            <button class="page-header__calendar-slider-arrow page-header__calendar-slider-arrow--prev">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </button>
            <div class="page-header__calendar-slider-inner">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {{#each headerCalendar}}
                            <div class="swiper-slide">
                                <div class="page-header__calendar-slider-card">
                                    <a href="#" class="page-header__calendar-slider-card-date">
                                        {{{ date }}}
                                    </a>
                                    <div class="page-header__calendar-slider-card-content">
                                        <a href="#"
                                            class="page-header__calendar-slider-card-link {{#if matches.disabled}} disabled {{/if}}">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#matches"></use>
                                            </svg>
                                            {{ matches.text }}
                                        </a>
                                        <a href="#"
                                            class="page-header__calendar-slider-card-link {{#if events.disabled}} disabled {{/if}}">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#events"></use>
                                            </svg>
                                            {{ events.text }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <button class="page-header__calendar-slider-arrow page-header__calendar-slider-arrow--next">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </button>
        </div>
        <a href="#" class="page-header__calendar-btn">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#calendar"></use>
            </svg>
        </a>
    </div>
    <div class="page-header__content">
        <div class="page-header__content-inner">
            <a href="/" class="page-header__logo">
                <img src="/logo.svg" alt="" class="page-header__logo-image">
            </a>
            <div class="page-header__top">


                <div class="page-header__links">
                    <a href="#" class="page-header__link">
                        КХЛ
                    </a>
                    <a href="#" class="page-header__link">
                        ВХЛ
                    </a>
                    <a href="#" class="page-header__link">
                        МХЛ
                    </a>
                    <a href="#" class="page-header__link">
                        ФХР
                    </a>
                    <a href="#" class="page-header__link">
                        ФХРТ
                    </a>
                    <a href="#" class="page-header__link">
                        Минспорта РТ
                    </a>
                    <a href="#" class="page-header__link">
                        Академия хоккея «Ак Барс»
                    </a>
                </div>
                <ul class="page-header__social-list">
                    <li class="page-header__social-list-item">
                        <a href="#" class="page-header__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-header__social-list-item">
                        <a href="#" class="page-header__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#ok"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-header__social-list-item">
                        <a href="#" class="page-header__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-header__social-list-item">
                        <a href="#" class="page-header__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-header__bottom">


                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Новости
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Лиги
                            </a>
                            <div class="page-header__nav-submenu">
                                <div class="page-header__nav-submenu-row">
                                    <div class="page-header__nav-submenu-col">
                                        <div class="page-header__nav-submenu-block">
                                            <h4 class="page-header__nav-submenu-block-title">
                                                Профессиональные лиги
                                            </h4>
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        КХЛ
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        ВХЛ
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        МХЛ
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="page-header__nav-submenu-block">
                                            <h4 class="page-header__nav-submenu-block-title">
                                                Детский хоккей
                                            </h4>
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Первенство РТ
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Чемпионат Казани
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Чемпионат РФ
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Золотая шайба
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="page-header__nav-submenu-col">
                                        <div class="page-header__nav-submenu-block">
                                            <h4 class="page-header__nav-submenu-block-title">
                                                Женский хоккей
                                            </h4>
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        НЛЖХ
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="page-header__nav-submenu-block">
                                            <h4 class="page-header__nav-submenu-block-title">
                                                Адаптивный хоккей
                                            </h4>
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Следж-хоккей
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="page-header__nav-submenu-block">
                                            <h4 class="page-header__nav-submenu-block-title">
                                                Турниры
                                            </h4>
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        AlgaCup
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Турниры проводимые Федерацией хоккея г. Казани
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="page-header__nav-submenu-col">
                                        <div class="page-header__nav-submenu-block">
                                            <h4 class="page-header__nav-submenu-block-title">
                                                Любительские
                                            </h4>
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Ночная хоккейная лига (НХЛ)
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Поволжская любительская хоккейная лига (ПЛХЛ)
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Единая хоккейная лига (ЕХЛ)
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Студенческая хоккейная лига (СХЛ)
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Рабочая хоккейная лига (РХЛ)
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Ледовые площадки
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                О хоккее в РТ
                            </a>
                            <div class="page-header__nav-submenu">
                                <div class="page-header__nav-submenu-row">
                                    <div class="page-header__nav-submenu-col">
                                        <div class="page-header__nav-submenu-block">
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        История хоккея Республики Татарстан
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="page-header__nav-submenu-col">
                                        <div class="page-header__nav-submenu-block">
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Ветераны хоккея
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Воспитанники
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="page-header__nav-submenu-col">
                                        <div class="page-header__nav-submenu-block">
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Тренеры
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Судьи
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Школа хоккея
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="page-header__tatneft">
                    <img src="/tatneft.svg" alt="" class="page-header__tatneft-logo">
                </a>
                <a href="#" class="page-header__join-link">
                    Хочу в хоккей
                </a>
                <a href="#" class="page-header__search-btn js-search-btn">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#search"></use>
                    </svg>
                </a>
            </div>
        </div>

    </div>
</header>