<section class="hist-intro">
    <div class="hist-intro__bg">
        <img src="/hist-intro.webp" alt="" class="hist-intro__bg-image">
    </div>
    <div class="hist-intro__parallax">
        <div class="hist-intro__parallax-layer">
            <img src="/hist-intro/1.webp" alt="" class="hist-intro__parallax-image">
        </div>
        <div class="hist-intro__parallax-layer">
            <img src="/hist-intro/2.webp" alt="" class="hist-intro__parallax-image">
        </div>
        <div class="hist-intro__parallax-layer">
            <img src="/hist-intro/3.webp" alt="" class="hist-intro__parallax-image">
        </div>
    </div>
    <div class="hist-intro__content">
        <h1 class="hist-intro__heading" data-text="История хоккея Республики Татарстан">
            История хоккея<br>
            Республики Татарстан
        </h1>
        <div class="hist-intro__scroll-down">

        </div>
    </div>
</section>


<section class="hist-map">
    <div class="hist-map__content">
        <div class="hist-map__wrapper">
            <img src="/hist-map.webp" alt="" class="hist-map__image js-hist-scale-image">
            <div class="hist-map__year" data-text="1940-е">
                1940-е
            </div>
        </div>
    </div>
</section>

<section class="hist-creation">
    <div class="hist-creation__content">
        <div class="hist-creation__row">
            <div class="hist-creation__left-col">
                <div class="hist-creation__year js-hist-year">
                    1948
                </div>
                <div class="hist-creation__image-wrapper js-hist-image-wrapper">
                    <img src="/hist-creation.webp" alt="" class="hist-creation__image js-hist-image">
                    <div class="hist-creation__image-text js-hist-image-text">
                        Исмаил Милушев
                    </div>
                </div>
            </div>
            <div class="hist-creation__right-col">
                <div class="hist-creation__text-content">
                    <h2 class="hist-creation__heading js-hist-heading">
                        Создание первой команды по хоккею с шайбой в Казани
                    </h2>
                    <div class="hist-creation__text js-hist-text">
                        Первая команда по хоккею с шайбой в Казани, которая выступала на первенстве города, была создана
                        Исмаилом Милушевым в 1948 году.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hist-spartack">
    <div class="hist-spartack__content">
        <div class="hist-spartack__row">
            <div class="hist-spartack__left-col">
                <h2 class="hist-spartack__heading js-hist-heading">
                    Участие в зональном турнире первенства России ДСО «Спартак»
                </h2>
                <div class="hist-spartack__text js-hist-text">
                    19 февраля 1949 г. казанская команда впервые приняла участие в зональном турнире первенства
                    Россиийского
                    ДСО «Спартак».
                </div>
            </div>
            <div class="hist-spartack__right-col">
                <div class="hist-spartack__year js-hist-year">
                    1949
                </div>
            </div>
        </div>
        <img src="/hist-spartack.webp" alt="" class="hist-spartack__image js-hist-image">

    </div>
</section>

<h2 class="hist-divider" data-text="1950-е">
    1950-е
</h2>


<section class="hist-first js-hist-card">
    <div class="hist-first__bg">
        <img src="/hist-first.webp" alt="" class="hist-first__bg-image">
    </div>
    <div class="hist-first__content">
        <div class="hist-first__year js-hist-year">
            1951
        </div>
        <div class="hist-first__row">
            <div class="hist-first__text-content">
                <h2 class="hist-first__heading js-hist-heading">
                    Первый хоккейный турнир в столице Татарской АССР
                </h2>
                <div class="hist-first__text js-hist-text">
                    В марте 1951 в рамках зонального первенства спортобщества «Спартак» состоялся первый хоккейный
                    турнир в
                    столице Татарской АССР.
                </div>
            </div>
            <div class="hist-first__image-wrapper js-hist-image-wrapper">
                <img src="/hist-first-image-2.webp" alt="" class="hist-first__image js-hist-image">
            </div>
        </div>
    </div>
</section>


<section class="hist-debut">
    <div class="hist-debut__content">
        <div class="hist-debut__top-row">
            <div class="hist-debut__year js-hist-year">
                1952
            </div>
            <div class="hist-debut__text-content">
                <h2 class="hist-debut__heading js-hist-heading">
                    Дебютный в истории матч на Кубок РСФСР
                </h2>
                <div class="hist-debut__text js-hist-text">
                    Команда Ленинского района провела дебютный в истории матч на Кубок РСФСР, в котором со счетом 4:3
                    переиграла горьковское «Торпедо». После матча, гости опротестовали этот результат, так как ледовая
                    площадка не соответствовала стандартным размерам.
                </div>
            </div>
        </div>
        <div class="hist-debut__image-wrapper js-hist-image-wrapper">
            <img src="/hist-debut.webp" alt="" class="hist-debut__image js-hist-image">
        </div>
    </div>
</section>

<section class="hist-official">
    <div class="hist-official__content">
        <div class="hist-official__wrapper js-hist-image-wrapper">
            <img src="/hist-official.webp" alt="" class="hist-official__image js-hist-image">
            <div class="hist-official__score js-hist-image-text">
                5:5
            </div>
        </div>
        <div class="hist-official__text-content">
            <div class="hist-official__year js-hist-year">
                1955
            </div>
            <h2 class="hist-official__heading js-hist-heading">
                Первый официальный матч по классу «Б»
            </h2>
            <div class="hist-official__text js-hist-text">
                25 декабря команда Ленинского района, возглавляемая дуэтом тренеров Анатолий Муравьев-Исмаил Милушев, на
                ледовой коробке в парке «Крылья Советов» в первой официальной игре по классу «Б» добилась ничейного
                результата 5:5 с пензенским «Буревестником».
            </div>
        </div>
    </div>
</section>


<section class="hist-countdown">
    <div class="hist-countdown__year js-hist-year">
        1956
    </div>

    <div class="hist-countdown__card js-hist-card">
        <div class="hist-countdown__card-bg">
            <img src="/hist-countdown-bg.webp" alt="" class="hist-countdown__card-bg-image">
        </div>
        <div class="hist-countdown__card-content">
            <div class="hist-countdown__person">
                <div class="hist-countdown__person-image-container js-hist-image-wrapper">
                    <img src="/hist-countdown-person.webp" alt="" class="hist-countdown__person-image js-hist-image">
                </div>
                <div class="hist-countdown__person-name js-hist-text">
                    Анатолий Васильевич Муравьев
                </div>
            </div>
            <div class="hist-countdown__card-text-content">
                <h2 class="hist-countdown__card-heading js-hist-heading">
                    Отсчет официальной истории «Ак Барса»
                </h2>
                <div class="hist-countdown__card-text js-hist-text">
                    Родоначальником казанского хоккея считается Анатолий Васильевич Муравьев, не без успеха игравший в
                    футбол и обучившийся «канадскому» хоккею в Риге. В январе 1956 он вместе с рядом ведущих хоккеистов
                    перешел в коллектив физкультуры моторостроительного завода «Машстрой». С команды «Машстрой»
                    начинается отсчет официальной истории «Ак Барса».
                </div>
            </div>
        </div>
    </div>

    <div class="hist-countdown__image-block js-hist-image-wrapper">
        <div class="hist-countdown__image-block-content">
            <img src="/hist-countdown-image.webp" alt="" class="hist-countdown__image js-hist-image">
            <div class="hist-countdown__image-text js-hist-image-text">
                «Машстрой», 1956 г.
            </div>
        </div>
    </div>
</section>

<section class="hist-teams">
    <div class="hist-teams__content">
        <div class="hist-teams__years js-hist-year">
            1956 – 1958
        </div>
        <div class="hist-teams__row">
            <div class="hist-teams__left-col">
                <div class="hist-teams__secondary-years js-hist-card">
                    1956&nbsp;– 1958
                </div>
                <div class="hist-teams__image-wrapper js-hist-image-wrapper">
                    <img src="/hist-teams.webp" alt="" class="hist-teams__image js-hist-image">
                </div>
            </div>
            <div class="hist-teams__right-col">
                <div class="hist-teams__text-content">
                    <h2 class="hist-teams__heading js-hist-heading">
                        Команды из Казани на всесоюзной арене в чемпионате и Кубке СССР
                    </h2>
                    <div class="hist-teams__text js-hist-text">
                        В сезоны 1956/57 и 1957/58 «Машстрой» набирается сил и опыта на первенстве Казани. В эти годы
                        Казань на всесоюзной арене в чемпионате и Кубке СССР представляет команды Ленинского района и
                        Льнокомбината, участвующие в чемпионате Советского Союза по классу «Б».
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hist-tassr">
    <div class="hist-tassr__content">
        <div class="hist-tassr__row">
            <div class="hist-tassr__text-content">
                <h2 class="hist-tassr__heading js-hist-heading">
                    Cборная ТАССР впервые принимает участие в первенстве РСФСР
                </h2>
                <div class="hist-tassr__text js-hist-text">
                    В 1958 году сборная ТАССР под руководством Петра Котова, Анатолия Муравьева и Леонида Коршунова
                    впервые принимает участие в первенстве РСФСР.
                </div>
            </div>
            <div class="hist-tassr__year js-hist-year">
                1958
            </div>
        </div>
        <div class="hist-tassr__image-wrapper js-hist-image-wrapper">
            <img src="/hist-tassr.webp" alt="" class="hist-tassr__image js-hist-image">
            <div class="hist-tassr__image-text js-hist-image-text">
                Cборная ТАССР, 1958 г.
            </div>
        </div>
    </div>
</section>




<section class="hist-rebranding">
    <div class="hist-rebranding__content">
        <div class="hist-rebranding__row">
            <div class="hist-rebranding__small-image-wrapper js-hist-image-wrapper">
                <img src="/hist-rebranding-small-image.webp" alt="" class="hist-rebranding__small-image js-hist-image">
            </div>
            <div class="hist-rebranding__text-content">
                <h2 class="hist-rebranding__heading js-hist-heading">
                    Переименование команды в СК им. Урицкого
                </h2>
                <div class="hist-rebranding__text js-hist-text">
                    В сезоне 1958/59 под именем СК им.Урицкого (так назывался заводской спортклуб) команда «Машстрой»
                    дебютирует в третьем эшелоне отечественного хоккея – турнире 4-й зоны класса «Б».Итог выступлений
                    команды Анатолия Муравьева – четвертое место.
                </div>
            </div>
        </div>
        <div class="hist-rebranding__large-image-wrapper js-hist-image-wrapper">
            <img src="/hist-rebranding-large-image.webp" alt="" class="hist-rebranding__large-image js-hist-image">
        </div>
    </div>
</section>

<h2 class="hist-divider" data-text="1960-е">
    1960-е
</h2>

<section class="hist-chemic">
    <div class="hist-chemic__content">
        <div class="hist-chemic__year js-hist-year">
            1961
        </div>
        <h2 class="hist-chemic__heading js-hist-heading">
            Основана команда «Нефтяник» в городе Лениногорск
        </h2>
        <div class="hist-chemic__text js-hist-text">
            Выступала она в первенстве областного совета ДСО «Труд». В 1965 году команду возглавляет приехавший из
            Москвы Николай Кожин.
        </div>
    </div>
</section>




<section class="hist-uritsky">
    <div class="hist-uritsky__year-wrapper">
        <div class="hist-uritsky__year js-hist-year">
            1961/62
        </div>
    </div>
    <div class="hist-uritsky__card js-hist-card">
        <div class="hist-uritsky__card-bg">
            <img src="/hist-uritsky.webp" alt="" class="hist-uritsky__card-bg-image">
        </div>
        <div class="hist-uritsky__card-content">
            <div class="hist-uritsky__card-image-wrapper js-hist-image-wrapper">
                <img src="/hist-uritsky-card.webp" alt="" class="hist-uritsky__card-image js-hist-image">
            </div>
            <h2 class="hist-uritsky__card-heading js-hist-heading">
                СК им. Урицкого — чемпион РСФСР
            </h2>
            <div class="hist-uritsky__card-text js-hist-text">
                <p>
                    В сезоне 1961/62 СК им.Урицкого выступает в первой группе первенства РСФСР, став бронзовым призером.
                </p>
                <p>
                    В феврале 1962 года СК им.Урицкого занимает первое место в турнире восьми команд и завоевывает
                    звание чемпиона РСФСР, а вместе с ним, право в сезоне 1962/63 принять участие в чемпионате СССР по
                    классу «А» в компании сильнейших клубов страны. 
                </p>
            </div>
        </div>
    </div>
</section>


<section class="hist-beginning">
    <div class="hist-beginning__content">
        <div class="hist-beginning__year js-hist-year">
            1964
        </div>
        <div class="hist-beginning__row">
            <div class="hist-beginning__image-wrapper js-hist-image-wrapper">
                <img src="/hist-beginning.webp" alt="" class="hist-beginning__image js-hist-image">
            </div>
            <div class="hist-beginning__text-content">
                <h2 class="hist-beginning__heading js-hist-heading">
                    Начало истории Хоккейного клуба из Альметьевска
                </h2>
                <div class="hist-beginning__text js-hist-text">
                    К тому времени в городе существовала команда по «русскому» хоккею — с мячом, которая участвовала в
                    республиканских первенствах ДСО «Труд».
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hist-sputnik">
    <div class="hist-sputnik__content">
        <div class="hist-sputnik__year js-hist-year">
            1965
        </div>
        <h2 class="hist-sputnik__heading js-hist-heading">
            Создание команды мастеров «Спутник»
        </h2>
        <div class="hist-sputnik__text js-hist-text">
            В ноябре 1965 года в городе создаётся команда мастеров «Спутник», которую возглавил бывший игрок казанских
            «СК им.Урицкого» и «СК им.Воровского» Александр Иванович Пономарёв. Он пригласил хоккеистов из Горького и
            Казани, составивших костяк команды на многие годы: Н. Пыренкова, В. Ехаева, В. Грибанова, А. Пупышева. Был
            включён в состав и совсем юный (16 лет) Анатолий Буянцев — первый местный воспитанник, который после
            завершения карьеры игрока многие годы работал тренером ДЮСШ.
        </div>
    </div>
</section>


<section class="hist-palace">
    <div class="hist-palace__content">
        <div class="hist-palace__year js-hist-year">
            1966
        </div>
        <div class="hist-palace__row">
            <div class="hist-palace__text-content">
                <h2 class="hist-palace__heading js-hist-heading">
                    Открытие первой закрытой ледовой арены в г. Казани 
                </h2>
                <div class="hist-palace__text js-hist-text">
                    30 октября 1966г. в Казани состоялось открытие первой закрытой ледовой арены – Дворца Спорта
                    вместимостью в 4100 зрителей, в котором СК им.Урицкого, (в последствии «Итиль» и «Ак Барс») будет
                    проводить домашние встречи на протяжении 40 лет, вплоть до введения в строй «Татнефть-Арены»
                </div>
            </div>
            <div class="hist-palace__image-wrapper js-hist-image-wrapper">
                <img src="/hist-palace.webp" alt="" class="hist-palace__image js-hist-image">
                <div class="hist-palace__image-text js-hist-image-text">
                    Дворец Спорта, 1966 г.
                </div>
            </div>
        </div>
        <img src="/hist-palace-2.webp" alt="" class="hist-palace__bottom-image js-hist-image">
    </div>
</section>


<section class="hist-maslov">
    <div class="hist-maslov__content">
        <div class="hist-maslov__year js-hist-year">
            1968
        </div>
        <div class="hist-maslov__row">
            <div class="hist-maslov__image-wrapper js-hist-image-wrapper">
                <img src="/hist-debut-2.webp" alt="" class="hist-maslov__image js-hist-image">
                <div class="hist-maslov__image-text js-hist-image-text">
                    Геннадий Маслов
                </div>
            </div>
            <div class="hist-maslov__text-content">
                <h2 class="hist-maslov__heading js-hist-heading">
                    1968-1971<br> Дебют Маслова
                </h2>
                <div class="hist-maslov__text js-hist-text">
                    В сезоне 1968/69 в составе дебютировал ставший впоследствии живой легендой СК им.Урицкого 16-летний
                    нападающий Геннадий Маслов.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hist-birthday">
    <div class="hist-birthday__content">
        <div class="hist-birthday__row">
            <h2 class="hist-birthday__heading js-hist-heading">
                23 октября 1968 г. – День рождения нижнекамской команды
            </h2>
            <div class="hist-birthday__text js-hist-text">
                <p>
                    Именно в этот день приказом директора Нижнекамского нефтехимического комбината была организована
                    хоккейная команда «Нефтехимик». Первым (играющим) тренером команды стал Борис Павлов.
                </p>
                <p>
                    В сезоне 1968/69 «Нефтехимик» дебютировал в чемпионате Татарской АССР – турнире, в котором команда
                    участвовала до 1979 года.
                </p>
            </div>
        </div>
        <div class="hist-birthday__image-wrapper js-hist-image-wrapper">
            <img src="/hist-birthday.webp" alt="" class="hist-birthday__image js-hist-image">
        </div>
    </div>
</section>


<h2 class="hist-divider" data-text="1970-е">
    1970-е
</h2>


<section class="hist-chelny">
    <div class="hist-chelny__content">
        <div class="hist-chelny__year js-hist-year">
            1970
        </div>
        <div class="hist-chelny__row">
            <div class="hist-chelny__text-content">
                <h2 class="hist-chelny__heading js-hist-heading">
                    Начало развития хоккея с шайбой в Набережных Челнах
                </h2>
                <div class="hist-chelny__text js-hist-text">
                    В 1970 году начал развиваться хоккей с шайбой в Набережных Челнах и базировался он в парке п. ГЭС.
                    За короткий срок был возведен небольшой стадион с трибунами и раздевалками. Развитию самого
                    популярного вида спорта дал толчок строительство в городе Камского автомобильного завода.
                </div>
            </div>
            <div class="hist-chelny__image-wrapper js-hist-image-wrapper">
                <img src="/hist-chelny.webp" alt="" class="hist-chelny__image js-hist-image">
            </div>
        </div>
    </div>
</section>

<section class="hist-sputnik">
    <div class="hist-sputnik__content">
        <div class="hist-sputnik__year js-hist-year">
            1971
        </div>
        <h2 class="hist-sputnik__heading js-hist-heading">
            Создание команды Камского<br> автомобильного завода
        </h2>
        <div class="hist-sputnik__text js-hist-text">
            В сентябре 1971 г. была создана команда Камского автомобильного завода,<br> представляющая Набережные Челны
            в
            зональном турнире первенства РСФСР.
        </div>
    </div>
</section>


<section class="hist-dusch">
    <div class="hist-dusch__bg">
        <img src="/hist-dusch-bg.webp" alt="" class="hist-dusch__bg-image">
    </div>
    <div class="hist-dusch__content">
        <div class="hist-dusch__year js-hist-year">
            1971
        </div>
        <div class="hist-dusch__row">
            <div class="hist-dusch__text-content">
                <h2 class="hist-dusch__heading js-hist-heading">
                    Открытие ДЮСШ им. Урицкого
                </h2>
                <div class="hist-dusch__text js-hist-text">
                    В 1971 была открыта ДЮСШ им. Урицкого (предшественница школы «Ак Барс») и построена первая клубная
                    база
                    в поселке Залесный.
                </div>
            </div>
            <div class="hist-dusch__image-wrapper js-hist-image-wrapper">
                <img src="/hist-dusch.webp" alt="" class="hist-dusch__image js-hist-image">
            </div>
        </div>
    </div>
</section>


<section class="hist-stolbun">
    <div class="hist-stolbun__content">
        <div class="hist-stolbun__year js-hist-year">
            1970/72
        </div>
        <h2 class="hist-stolbun__heading js-hist-heading">
            Дебют Столбуна
        </h2>
        <div class="hist-stolbun__image-wrapper js-hist-image-wrapper">
            <img src="/hist-stolbun.webp" alt="" class="hist-stolbun__image js-hist-image">
            <div class="hist-stolbun__text js-hist-image-text">
                Всеволод Елфимов и Генадий Столбун
            </div>
        </div>
    </div>
</section>



<section class="hist-chemp">
    <div class="hist-chemp__content">
        <div class="hist-chemp__row">
            <div class="hist-chemp__left-col">
                <div class="hist-chemp__year js-hist-year">
                    1976
                </div>
                <div class="hist-chemp__image-wrapper js-hist-image-wrapper">
                    <img src="/hist-chemp.webp" alt="" class="hist-chemp__image js-hist-image">
                </div>
            </div>
            <div class="hist-chemp__right-col">
                <h2 class="hist-chemp__heading js-hist-heading">
                    Звание чемпиона РСФСР и выход в первую союзную лигу
                </h2>
                <div class="hist-chemp__text js-hist-text">
                    В 1976 году уже под руководством бывшего защитника команды Владимира Андреева, СК им.Урицкого
                    побеждает в турнире западной зоны второй лиги и во второй раз в своей истории (после 1962 г.)
                    завоевывает звание чемпиона РСФСР, Вратарь Р. Гуляев, защитники В.Петров, И.Хуснуллин, В.Елфимов,
                    нападающие М.Литвинов, В.Бокарев, Е.Сукуров, Ф.Зайнуллин и их товарищи по команде обеспечивают
                    Казани право со следующего сезона выступать в первой союзной лиге.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hist-chemist">
    <div class="hist-chemist__content">
        <div class="hist-chemist__years js-hist-year">
            1978/1979
        </div>
        <div class="hist-chemist__row">
            <div class="hist-chemist__text-content">
                <h2 class="hist-chemist__heading js-hist-heading">
                    «Нефтехимик» дебютирует в чемпионате СССР
                </h2>
                <div class="hist-chemist__text js-hist-text">
                    Став серебряным призером чемпионата ТАССР, в сезоне 1978/79 «Нефтехимик» завоевал путевку в класс
                    «В» чемпионата Советского Союза
                </div>
            </div>
            <div class="hist-chemist__image-wrapper js-hist-image-wrapper">
                <img src="/hist-chemist.webp" alt="" class="hist-chemist__image js-hist-image">
            </div>
        </div>
    </div>
</section>

<h2 class="hist-divider" data-text="1980-е">
    1980-е
</h2>


<section class="hist-ur">
    <div class="hist-ur__content">
        <div class="hist-ur__year js-hist-year">
            1980/81
        </div>
        <div class="hist-ur__row">
            <h2 class="hist-ur__heading js-hist-heading">
                СК им.Урицкого занял 4-е место и впервые принял участие в переходном турнире команд высшей и первой лиг
            </h2>
            <div class="hist-ur__text js-hist-text">
                В предпоследний сезон под руководством Владимира Васильева команда, в рядах которой появились вратарь
                Сергей Абрамов и защитник Сергей Закамский, набрала 86 очков в 72 встречах и, впервые поднявшись на
                третью строку в таблице, вновь участвовала в турнире за право перехода в высший дивизион.
            </div>
        </div>
        <div class="hist-ur__image-wrapper js-hist-image-wrapper">
            <img src="/hist-ur.webp" alt="" class="hist-ur__image js-hist-image">
            <div class="hist-ur__image-text js-hist-image-text">
                СК им. Урицкого
            </div>
        </div>
    </div>
</section>

<section class="hist-score">
    <div class="hist-score__content">
        <div class="hist-score__year js-hist-year">
            1982/83
        </div>
        <div class="hist-score__row">
            <div class="hist-score__image-wrapper js-hist-image-wrapper">
                <img src="/hist-score.webp" alt="" class="hist-score__image js-hist-image">
            </div>
            <div class="hist-score__text-content">
                <h2 class="hist-score__heading js-hist-heading">
                    Рекорд первой лиги
                </h2>
                <div class="hist-score__amount js-hist-text">
                    381 очко
                </div>
                <div class="hist-score__text js-hist-text">
                    Набрало звено СК им. Уирцкого<br> Шалахин-Столбун-Маслов
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hist-arrival">
    <div class="hist-arrival__content">
        <div class="hist-arrival__year js-hist-year">
            1984
        </div>
        <div class="hist-arrival__row">
            <div class="hist-arrival__text-content">
                <h2 class="hist-arrival__heading js-hist-heading">
                    Приход Геннадия Цыгурова
                </h2>
                <div class="hist-arrival__text js-hist-text">
                    В сезоне 1984/85 СК им. Урицкого возглавил один из самых выдающихся тренеров в истории советского и
                    российского хоккея Геннадий Федорович Цыгуров. По итогам первого этапа чемпионата команда впервые в
                    своей истории заняло первое место, хотя и не смогла завоевать путевку в высшую лигу в переходном
                    турнире.
                </div>
            </div>
            <div class="hist-arrival__image-wrapper js-hist-image-wrapper">
                <img src="/hist-arrival.webp" alt="" class="hist-arrival__image js-hist-image">
                <div class="hist-arrival__image-text">
                    Геннадий Цыгунов
                </div>
            </div>
        </div>
    </div>
</section>


<section class="hist-league">
    <div class="hist-league__content">
        <div class="hist-league__year js-hist-year">
            1988/89
        </div>
        <div class="hist-league__row">
            <h2 class="hist-league__heading js-hist-heading">
                СК им. Урицкого занимает первое место в западной зоне и переходит в Высшую лигу
            </h2>
            <div class="hist-league__text js-hist-text">
                Одно из самых ярких достижений в истории казанского хоккея – выход СК им.Урицкого в 1989 г. в высшую
                лигу – обеспечили вратари С.Абрамов, С.Киряхин, А,Мухитов, защитники О.Кофтун, П.Жуков, В, Старостин,
                В.Рахин, С.Закамский, Р.Шавалеев, И.Монаенков, А.Пучков, Р.Фазлеев, нападающие Г.Веселов, В.Шайдуллин,
                К.Обрежа, С.Столбун, В.Гудожников, И.Ромашин, А.Соколов, И.Рахматуллин, И.Крашенинников, А.Гарифуллин,
                И.Гизатуллин, А.Макаров, А.Писарев и др. Главным тренером команды был на протяжении 11 сезонов
                цементировавший оборону казанцев Всеволод Елфимов.
            </div>
        </div>
        <div class="hist-league__image-wrapper js-hist-image-wrapper">
            <img src="/hist-league.webp" alt="" class="hist-league__image js-hist-image">
            <div class="hist-league__image-text js-hist-image-text">
                СК им. Урицкого, 1988/89 г.
            </div>
        </div>
    </div>
</section>


<h2 class="hist-divider" data-text="1990-е">
    1990-е
</h2>

<section class="hist-namechange">
    <div class="hist-namechange__content">
        <div class="hist-namechange__year js-hist-year">
            1990/91
        </div>
        <h2 class="hist-namechange__heading js-hist-heading">
            Смена названия команды<br> СК им. Урицкого
        </h2>
        <div class="hist-namechange__text js-hist-text">
            В сезон 1990/91 команда Всеволода Елфимова вступила под новым названием «Итиль»,<br> под которым она
            выступала
            по 1995 год.
        </div>
    </div>
</section>

<section class="hist-victory">
    <div class="hist-victory__content">
        <div class="hist-victory__years js-hist-year">
            1994/95
        </div>
        <div class="hist-victory__row">
            <div class="hist-victory__image-wrapper js-hist-image-wrapper">
                <img src="/hist-victory.webp" alt="" class="hist-victory__image js-hist-image">
                <div class="hist-victory__image-text js-hist-image-text">
                    ХК «Нефтехимик», 1990-е
                </div>
            </div>
            <div class="hist-victory__text-content">
                <h2 class="hist-victory__heading js-hist-heading">
                    Самая значимая победа «Нефтехимика» в ХХ веке
                </h2>
                <div class="hist-victory__text js-hist-text">
                    В сезоне 1994-95 гг. «Нефтехимик» становится победителем Открытого первенства России
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hist-countdown">
    <div class="hist-countdown__year hist-countdown__year--green js-hist-year">
        1995/96
    </div>

    <div class="hist-countdown__card js-hist-card">
        <div class="hist-countdown__card-bg hist-countdown__card-bg--dark">
            <img src="/moiseev-bg.webp" alt="" class="hist-countdown__card-bg-image">
        </div>
        <div class="hist-countdown__card-content">
            <div class="hist-countdown__person">
                <div class="hist-countdown__person-image-container js-hist-image-wrapper">
                    <img src="/moiseev.webp" alt="" class="hist-countdown__person-image js-hist-image">
                </div>
                <div class="hist-countdown__person-name js-hist-text">
                    Юрий Иванович Моисеев
                </div>
            </div>
            <div class="hist-countdown__card-text-content">
                <h2 class="hist-countdown__card-heading js-hist-heading">
                    Переименование СК им. Урицкого в ХК «Ак Барс» и назначение главным тренером Юрия Ивановича Моисеева
                </h2>
                <div class="hist-countdown__card-text js-hist-text">
                    Готовиться к юбилейному 50-му для отечественного хоккея сезону 1995/96, казанская команда начала с
                    двух существенных перемен в ее судьбе. Во-первых, клуб получил новое название «Ак Барс», одинаковое
                    с названием банка, который стал его главным спонсором. Во-вторых, на должность главного тренера был
                    приглашен прославленный хоккеист, олимпийский чемпион, чемпион мира и 8-кратный чемпион СССР,
                    заслуженный мастер спорта и заслуженный тренер Советского Союза Юрий Моисеев.
                </div>
            </div>
        </div>
    </div>
</section>


<seciton class="hist-awards">
    <div class="hist-awards__content">
        <div class="hist-awards__years js-hist-year">
            1997/98
        </div>
        <div class="hist-awards__top-row">
            <div class="hist-awards__text-content">
                <h2 class="hist-awards__heading js-hist-heading">
                    ХК «Ак Барс» — обладатель золотых медалей чемпионата России
                </h2>
                <div class="hist-awards__text js-hist-text">
                    «Золотой» матч против еще сохранившими титул на первое место московского «Динамо», руководимого
                    Зинэтулой Билялетдиновым, состоялся 21 марта 1998 в переполненном Спорт Сарае. Победив со счетом
                    3:2, благодаря дублю Олега Антоненко и голу Сергея Золотова, «Ак Барс» впервые в истории казанского
                    хоккея стал обладателем «золотых» медалей чемпионата России.
                </div>
            </div>
            <div class="hist-awards__cup js-hist-image-wrapper">

                <img src="/awards-cup.webp" alt="" class="hist-awards__cup-image js-hist-image">

                <div class="hist-awards__cup-text js-hist-image-text">
                    Кубок Чемпионов России
                </div>
            </div>
        </div>
        <div class="hist-awards__image-wrapper js-hist-image-wrapper">
            <img src="/hist-awards.webp" alt="" class="hist-awards__image js-hist-image">
            <div class="hist-awards__image-text js-hist-image-text">
                Первое чемпионство ХК Ак Барс 1998
            </div>
        </div>
        <div class="hist-awards__bottom-row">
            <div class="hist-awards__bottom-left-col">
                <h3 class="hist-awards__bottom-heading js-hist-heading">
                    Навечно вписали свои имена в летопись побед великого клуба:
                </h3>
                <div class="hist-awards__info-block js-hist-card">
                    <h4 class="hist-awards__info-block-heading js-hist-heading">
                        Тренерский состав
                    </h4>
                    <div class="hist-awards__info-block-text js-hist-text">
                        Главный тренер – Юрий МоисеевПомощники – Всеволод Елфимова, Геннадий Сырцова, Александр Чернецов
                    </div>
                </div>
            </div>
            <div class="hist-awards__bottom-right-col">
                <ul class="hist-awards__bottom-list">
                    <li class="hist-awards__bottom-list-item">
                        <div class="hist-awards__info-block js-hist-card">
                            <h4 class="hist-awards__info-block-heading js-hist-heading">
                                Вратари
                            </h4>
                            <div class="hist-awards__info-block-text js-hist-text">
                                Д. Ячанов, С. Абрамов, О. Грачев,
                            </div>
                        </div>
                    </li>
                    <li class="hist-awards__bottom-list-item">
                        <div class="hist-awards__info-block js-hist-card">
                            <h4 class="hist-awards__info-block-heading js-hist-heading">
                                Защитники
                            </h4>
                            <div class="hist-awards__info-block-text js-hist-text">
                                Д.Балмин, Ю. Гунько, Р. Якубов, А. Завьялов, А. Савицкий, В. Толоконников, А. Анисимов,
                                А. Лабзов
                            </div>
                        </div>
                    </li>
                    <li class="hist-awards__bottom-list-item">
                        <div class="hist-awards__info-block js-hist-card">
                            <h4 class="hist-awards__info-block-heading js-hist-heading">
                                Нападающие
                            </h4>
                            <div class="hist-awards__info-block-text js-hist-text">
                                Э.Кудерметов, А. Чупин, С. Золотов, М. Сарматин, И. Степанов, И. Гизатуллин,
                                А.Гарифуллин, Р.Баранов, К. Голубев, О. Антоненко, А. Кадейкин, Д. Ванясов, Д. Архипов,
                                Р. Касьянов, С. Соломатов, П. Лазарев, А. Сидляров, Е. Захаров, А. Царев
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</seciton>

<h2 class="hist-divider" data-text="2000 – 2020-е">
    2000 – 2020-е
</h2>

<section class="hist-akbars js-hist-akbars">
    <div class="hist-akbars__content">
        <div class="hist-akbars__years js-hist-year">
            2000—2020-е
        </div>
        <div class="hist-akbars__row">
            <div class="hist-akbars__left-col">
                <div class="hist-akbars__card">
                    <h2 class="hist-akbars__card-heading js-hist-heading">
                        На сегодняшний день
                    </h2>
                    <div class="hist-akbars__card-icon-row">
                        <div class="hist-akbars__card-icon-wrapper js-hist-image-wrapper">
                            <img src="/hist-akbars.svg" alt="" class="hist-akbars__card-icon js-hist-image">
                        </div>
                        <div class="hist-akbars__card-icon-text js-hist-heading">
                            Хоккейный Клуб «Ак Барс» – флагман республиканского хоккея!
                        </div>
                    </div>
                    <div class="hist-akbars__card-text js-hist-text">
                        На него равняются Нижнекамский «Нефтехимик», Казанский «Барс», Альметьевский «Нефтяник», ХК
                        «Челны» и десятки и сотни команд разных уровней, которые представляют Татарстан.
                    </div>
                </div>

            </div>
            <div class="hist-akbars__right-col">
                <h3 class="hist-akbars__achievements-heading js-hist-text">
                    Достижения <br>Казанского «Ак Барса»
                </h3>
                <div class="hist-akbars__cups-slider js-hist-card">
                    <div class="hist-akbars__cups-main-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="hist-akbars__cups-main-slider-card">
                                        <div class="hist-akbars__cups-main-slider-card-image-container">
                                            <img src="/cups/1.webp" alt=""
                                                class="hist-akbars__cups-main-slider-card-image">
                                            <img src="/cups/1-color.webp" alt=""
                                                class="hist-akbars__cups-main-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hist-akbars__cups-main-slider-card">
                                        <div class="hist-akbars__cups-main-slider-card-image-container">
                                            <img src="/cups/2.webp" alt=""
                                                class="hist-akbars__cups-main-slider-card-image">
                                            <img src="/cups/2-color.webp" alt=""
                                                class="hist-akbars__cups-main-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hist-akbars__cups-main-slider-card">
                                        <div class="hist-akbars__cups-main-slider-card-image-container">
                                            <img src="/cups/3.webp" alt=""
                                                class="hist-akbars__cups-main-slider-card-image">
                                            <img src="/cups/3-color.webp" alt=""
                                                class="hist-akbars__cups-main-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hist-akbars__cups-main-slider-card">
                                        <div class="hist-akbars__cups-main-slider-card-image-container">
                                            <img src="/cups/4.webp" alt=""
                                                class="hist-akbars__cups-main-slider-card-image">
                                            <img src="/cups/4-color.webp" alt=""
                                                class="hist-akbars__cups-main-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hist-akbars__cups-text-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="hist-akbars__cups-text-slider-text">
                                        Победитель (1998, 2006, 2009, 2010, 2018), серебряный призер (2000, 2002, 2007)
                                        и бронзовый призер (2004) чемпионатов России
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hist-akbars__cups-text-slider-text">
                                        Победитель (1998, 2006, 2009, 2010, 2018), серебряный призер (2000, 2002, 2007)
                                        и бронзовый призер (2004) чемпионатов России
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hist-akbars__cups-text-slider-text">
                                        Победитель (1998, 2006, 2009, 2010, 2018), серебряный призер (2000, 2002, 2007)
                                        и бронзовый призер (2004) чемпионатов России
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hist-akbars__cups-text-slider-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis earum
                                        exercitationem vel alias iure nam ad. Reiciendis libero perferendis, molestias
                                        quas repudiandae cum labore est earum commodi, harum totam. Sint quis neque
                                        rerum laudantium, ipsa ipsam ipsum quod voluptatem quo reprehenderit quasi
                                        dignissimos modi quos ab saepe explicabo ullam. Fugit.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="hist-akbars__pagination">
                        {{#times 4}}
                            <li class="hist-akbars__pagination-bullet">
                                <div class="hist-akbars__pagination-bullet-dot">

                                </div>
                                <div class="hist-akbars__pagination-bullet-timer">
                                    <svg viewBox="0 0 100 100">
                                        <circle cx="50" cy="50" r="48" stroke-width="1" stroke="#D1D6CF" fill="none"
                                            vector-effect="non-scaling-stroke" />
                                    </svg>
                                    <svg viewBox="0 0 100 100">
                                        <circle cx="50" cy="50" r="48" stroke-width="1" stroke="#008000" fill="none"
                                            vector-effect="non-scaling-stroke" />
                                    </svg>
                                    <div class="hist-akbars__pagination-bullet-timer-number">

                                    </div>
                                </div>
                            </li>
                        {{/times}}
                    </ol>
                </div>
            </div>
        </div>
        <div class="hist-akbars__audio">
            <audio class="js-audio">
                <source src="/audio.mp3" type="audio/mp3" />
            </audio>
        </div>
    </div>
</section>

<section class="hist-place js-hist-card">
    <div class="hist-place__bg">
        <img src="/hist-activity-bg.webp" alt="" class="hist-place__bg-image">
    </div>
    <div class="hist-place__content">
        <div class="hist-place__number js-hist-image-wrapper">
            <img src="/hist-activity-number.svg" alt="" class="hist-place__number-image js-hist-image">
            <div class="hist-place__number-text js-hist-image-text">
                Хоккей с шайбой по праву считается спортом номер один на территории Республики Татарстан
            </div>
        </div>
        <h2 class="hist-place__heading js-hist-heading">
            Помимо деятельности профессиональных команд, идет активное развитие детского и дворового хоккея
        </h2>
        <div class="hist-place__text js-hist-text">
            <p>
                Также, успешно растут лиги любительского хоккея, в которых принимают участие люди любого возраста,
                умений, профессий и конфессий. Кроме стандартных мужских соревнований по хоккею, развивается и женский
                хоккей.
            </p>
            <p>
                Большое внимание уделяется адаптивным видам спорта, в частности — следж-хоккею. На территории Республики
                Татарстан насчитывается несколько тысяч любителей хоккея, активно занимающихся и пропагандирующих этот
                вид спорта. Хоккей в республике больше чем спорт. Это – образ жизни и национальная идея.
            </p>
        </div>
    </div>
</section>


<section class="hist-veterans-gallery">
    <div class="hist-veterans-gallery__content">
        <div class="hist-veterans-gallery__text js-hist-text">
            Все это невозможно представить без опыта, выдающихся успехов и того тернистого пути, который прошли наши
            дорогие и заслуженные ветераны хоккея Республики Татарстан
        </div>
        <div class="hist-veterans-gallery__slider js-hist-gallery-slider js-hist-card">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="hist-veterans-gallery__slider-card">
                            <div class="hist-veterans-gallery__slider-card-image-container">
                                <img src="/hist-veteran-card.webp" alt="" class="hist-veterans-gallery__card-image">

                            </div>
                            <div class="hist-veterans-gallery__card-image-text">
                                Собрание Ветеранов Татарстана, 2??? г.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hist-veterans-gallery__slider-card">
                            <div class="hist-veterans-gallery__slider-card-image-container">
                                <img src="/hist-veteran-card.webp" alt="" class="hist-veterans-gallery__card-image">

                            </div>
                            <div class="hist-veterans-gallery__card-image-text">
                                Собрание Ветеранов Татарстана, 2??? г.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hist-veterans-gallery__slider-card">
                            <div class="hist-veterans-gallery__slider-card-image-container">
                                <img src="/hist-veteran-card.webp" alt="" class="hist-veterans-gallery__card-image">

                            </div>
                            <div class="hist-veterans-gallery__card-image-text">
                                Собрание Ветеранов Татарстана, 2??? г.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hist-veterans-gallery__slider-card">
                            <div class="hist-veterans-gallery__slider-card-image-container">
                                <img src="/hist-veteran-card.webp" alt="" class="hist-veterans-gallery__card-image">

                            </div>
                            <div class="hist-veterans-gallery__card-image-text">
                                Собрание Ветеранов Татарстана, 2??? г.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ol class="hist-veterans-gallery__pagination">
                {{#times 4}}
                    <li class="hist-veterans-gallery__pagination-bullet">
                        <div class="hist-veterans-gallery__pagination-bullet-dot">

                        </div>
                        <div class="hist-veterans-gallery__pagination-bullet-timer">
                            <svg viewBox="0 0 100 100">
                                <circle cx="50" cy="50" r="48" stroke-width="1" stroke="#D1D6CF" fill="none"
                                    vector-effect="non-scaling-stroke" />
                            </svg>
                            <svg viewBox="0 0 100 100">
                                <circle cx="50" cy="50" r="48" stroke-width="1" stroke="#008000" fill="none"
                                    vector-effect="non-scaling-stroke" />
                            </svg>
                            <div class="hist-veterans-gallery__pagination-bullet-timer-number">

                            </div>
                        </div>
                    </li>
                {{/times}}
            </ol>
        </div>
    </div>
</section>

<section class="hist-veterans js-hist-card">
    <div class="hist-veterans__bg">
        <img src="/hist-veterans.webp" alt="" class="hist-veterans__bg-image">


    </div>
    <div class="hist-veterans__content">
        <div class="hist-veterans__image-wrapper">


            <picture>
                <source srcset="/hist-veterans-mobile.webp" media="(max-width: 640px)" />
                <img src="/hist-veterans-image.webp" alt="Tatneft" class="hist-veterans__image" />
            </picture>
        </div>
        <div class="hist-veterans__text-content">
            <h2 class="hist-veterans__heading js-hist-heading">
                Ветераны хоккея РТ
            </h2>
            <div class="hist-veterans__text js-hist-text">
                Опыт, выдающиеся успехи и тернистый путь – изучи историю каждого!
            </div>
            <a href="#" class="hist-veterans__link js-hist-link">
                Перейти к истории ветеранов
            </a>
        </div>
    </div>
</section>