<section class="history">
    <div class="history__ticker js-ticker">
        <div class="history__ticker-inner js-ticker-inner">
            История хоккея РТ&nbsp;
        </div>
    </div>
    <div class="history__content">
        <div class="history__top-row">
            <div class="history__left-col">
                <h2 class="history__heading">
                    История <br>хоккея РТ
                </h2>
                <a href="#" class="history__link">
                    УЗНАТЬ БОЛЬШЕ
                </a>
            </div>
            <div class="history__right-col">
                <div class="history__text">
                    Первая команда по хоккею с шайбой в Казани была создана в 1948 году и выступала на первенстве
                    города, а 19 февраля 1949 приняла участие в зональном турнире первенства России ДСО «Спартак».
                </div>
            </div>
        </div>
        <div class="history__photos">
            <div class="history__photos-slot">
                <div class="history__photos-card history__photos-card--green-overlay">
                    <img src="/history/5.jpg" alt="" class="history__photos-card-image">
                </div>
                <div class="history__photos-card ">
                    <img src="/history/2.jpg" alt="" class="history__photos-card-image">
                </div>
                <div class="history__photos-card history__photos-card--red-overlay">
                    <img src="/history/1.jpg" alt="" class="history__photos-card-image">
                </div>

            </div>
            <div class="history__photos-slot">
                <div class="history__photos-card ">
                    <img src="/history/4.jpg" alt="" class="history__photos-card-image">
                </div>

                <div class="history__photos-card history__photos-card--red-overlay">
                    <img src="/history/7.jpg" alt="" class="history__photos-card-image">
                </div>
                <div class="history__photos-card history__photos-card--green-overlay">
                    <img src="/history/2.jpg" alt="" class="history__photos-card-image">
                </div>
            </div>
            <div class="history__photos-slot">
                <div class="history__photos-card history__photos-card--green-overlay">
                    <img src="/history/6.jpg" alt="" class="history__photos-card-image">
                </div>
                <div class="history__photos-card">
                    <img src="/history/1.jpg" alt="" class="history__photos-card-image">
                </div>
                <div class="history__photos-card history__photos-card--red-overlay">
                    <img src="/history/3.jpg" alt="" class="history__photos-card-image">
                </div>
            </div>
            <div class="history__photos-slot">

                <div class="history__photos-card history__photos-card--red-overlay">
                    <img src="/history/3.jpg" alt="" class="history__photos-card-image">
                </div>
                <div class="history__photos-card history__photos-card--green-overlay">
                    <img src="/history/6.jpg" alt="" class="history__photos-card-image">
                </div>
                <div class="history__photos-card">
                    <img src="/history/4.jpg" alt="" class="history__photos-card-image">
                </div>
            </div>
            <div class="history__photos-slot">
                <div class="history__photos-card">
                    <img src="/history/2.jpg" alt="" class="history__photos-card-image">
                </div>
                <div class="history__photos-card history__photos-card--red-overlay">
                    <img src="/history/3.jpg" alt="" class="history__photos-card-image">
                </div>
                <div class="history__photos-card history__photos-card--green-overlay">
                    <img src="/history/5.jpg" alt="" class="history__photos-card-image">
                </div>
            </div>
            <div class="history__photos-slot">
                <div class="history__photos-card history__photos-card--green-overlay">
                    <img src="/history/1.jpg" alt="" class="history__photos-card-image">
                </div>
                <div class="history__photos-card history__photos-card--red-overlay">
                    <img src="/history/4.jpg" alt="" class="history__photos-card-image">
                </div>

                <div class="history__photos-card">
                    <img src="/history/7.jpg" alt="" class="history__photos-card-image">
                </div>
            </div>
            <div class="history__photos-slot">
                <div class="history__photos-card history__photos-card--red-overlay">
                    <img src="/history/7.jpg" alt="" class="history__photos-card-image">
                </div>
                <div class="history__photos-card">
                    <img src="/history/5.jpg" alt="" class="history__photos-card-image">
                </div>

                <div class="history__photos-card history__photos-card--green-overlay">
                    <img src="/history/6.jpg" alt="" class="history__photos-card-image">
                </div>
            </div>
        </div>


    </div>
</section>