<section class="ice">
    <div class="ice__bg">
        <img src="/ice-bg.webp" alt="" class="ice__bg-image">
    </div>
    <div class="ice__content">
        <div class="ice__image-wrapper">
            <img src="/zaripov.webp" alt="" class="ice__image">
        </div>
        <div class="ice__text-content">
            <h2 class="ice__heading">
                Хотите выйти<br> на лёд?!
            </h2>
            <div class="ice__text">
                Узнайте, где можно найти ледовую площадку или спорт-школу по близости, а так же, что нужно для игры в
                хоккей!
            </div>
            <a href="#" class="ice__link">
                Узнать больше!
            </a>
        </div>
    </div>
</section>