<section class="veterans-detail">
    <div class="veterans-detail__top veterans-detail__top--judge">
        <div class="veterans-detail__bg">
            <img src="/judges-header.webp" alt="" class="veterans-detail__bg-image">
        </div>
        <div class="veterans-detail__top-content">
            <a href="#" class="veterans-detail__back">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-left"></use>
                </svg>
                Назад к судьям
            </a>
        </div>
    </div>
    <div class="veterans-detail__bottom">
        <div class="veterans-detail__bottom-inner">
            <div class="veterans-detail__card">
                <div class="veterans-detail__header veterans-detail__header--grey">
                    <div class="veterans-detail__header-content">
                        <div class="veterans-detail__photo-container">
                            <img src="/judge.webp" alt="" class="veterans-detail__photo">
                        </div>
                        <h1 class="veterans-detail__name" data-text="Андреев Александр">
                            Андреев Александр Николаевич
                        </h1>
                        <div class="veterans-detail__date">
                            03.06.1997 г.
                        </div>
                        <div class="veterans-detail__params veterans-detail__params--large">
                            <div class="veterans-detail__param">
                                <div class="veterans-detail__param-key">
                                    Место рождения
                                </div>
                                <div class="veterans-detail__param-value">
                                    г. Нижнекамск
                                </div>
                            </div>
                            <div class="veterans-detail__param">
                                <div class="veterans-detail__param-key">
                                    Место работы
                                </div>
                                <div class="veterans-detail__param-value">
                                    г. Менделеевск
                                </div>
                            </div>

                        </div>
                        <div class="veterans-detail__params veterans-detail__params--large">
                            <div class="veterans-detail__param">
                                <div class="veterans-detail__param-key">
                                    Категория
                                </div>
                                <div class="veterans-detail__param-value">
                                    3-я категория
                                </div>
                            </div>

                        </div>
                        <div class="veterans-detail__teams">
                            <h4 class="veterans-detail__teams-title">
                                Обслуживаемые матчи
                            </h4>
                            <div class="veterans-detail__teams-text">
                                Первенство Республики Татарстан (мужчины) (в бригаде )<br>
                                Первенство Республики Татарстан (дети) (в бригаде )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>