<a href="#" class="judge-card">
    <div class="judge-card__image-container">
        <img src="{{ src }}" alt="" class="judge-card__image">
    </div>
    <div class="judge-card__content">
        <h3 class="judge-card__title">
            <div class="judge-card__last-name">
                {{ lastName }}
            </div>
            <div class="judge-card__first-name">
                {{ firstName }}
            </div>
        </h3>
        <div class="judge-card__date">
            {{ date }}
        </div>
        <div class="judge-card__category">
            {{ category }}
        </div>
    </div>
</a>