<section class="knowledge">
    <div class="knowledge__content">
        <div class="knowledge__ticker js-ticker">
            <div class="knowledge__ticker-inner js-ticker-inner">
                База знаний&nbsp;
            </div>
        </div>
        <div class="knowledge__row">
            <div class="knowledge__text-content">
                <h3 class="knowledge__heading">
                    База<br> знаний
                </h3>
                <div class="knowledge__text">
                    Материалы о подготовке хоккеистов: питание, физические нагрузки, медицина – всё здесь!
                </div>
                <a href="#" class="knowledge__link">
                    К изучению!
                </a>
            </div>
            <div class="knowledge__image-wrapper">
                <img src="/knowledge.svg" alt="" class="knowledge__image">
            </div>
        </div>
    </div>
</section>