<section class="league-tournaments">
    <div class="league-tournaments__inner">
        <h2 class="league-tournaments__heading" data-text="Турниры лиги">
            Турниры лиги
        </h2>
        <div class="league-tournaments__season">
            <div class="league-tournaments__season-title-wrapper">


                <div class="league-tournaments__title">
                    Сезон
                </div>
                <div class="league-tournaments__season-btn-wrapper">


                    <button class="league-tournaments__season-btn">
                        <span class="league-tournaments__season-btn-text">
                            2023-2024
                        </span>
                        <span class="league-tournaments__season-btn-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="league-tournaments__season-dropdown">
                        <div class="league-tournaments__season-dropdown-inner">
                            <ul class="league-tournaments__season-dropdown-list">
                                <li class="league-tournaments__season-dropdown-list-item">
                                    <a href="#" class="league-tournaments__season-dropdown-link active">
                                        2023-2024
                                    </a>
                                </li>
                                <li class="league-tournaments__season-dropdown-list-item">
                                    <a href="#" class="league-tournaments__season-dropdown-link">
                                        2022-2023
                                    </a>
                                </li>
                                <li class="league-tournaments__season-dropdown-list-item">
                                    <a href="#" class="league-tournaments__season-dropdown-link">
                                        2021-2022
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="league-tournaments__list">
                <li class="league-tournaments__list-item">
                    <a href="#" class="league-tournaments__card">
                        <h3 class="league-tournaments__card-title">
                            Чемпионат Континентальной хоккейной лиги среди мужских команд. Плей-офф
                        </h3>
                        <div class="league-tournaments__card-dates">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#calendar"></use>
                            </svg>
                            01 октября 2022 – 30 апреля 2023
                        </div>
                        <div class="league-tournaments__card-teams">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#teams"></use>
                            </svg>
                            30 команд
                        </div>
                        <div class="league-tournaments__card-time">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#time"></use>
                            </svg>
                            Скоро
                        </div>
                        <svg width="14" height="14" aria-hidden="true" class="league-tournaments__card-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </a>
                </li>
                <li class="league-tournaments__list-item">
                    <a href="#" class="league-tournaments__card">
                        <h3 class="league-tournaments__card-title">
                            Чемпионат Континентальной хоккейной лиги среди мужских команд. Регулярный сезон
                        </h3>
                        <div class="league-tournaments__card-dates">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#calendar"></use>
                            </svg>
                            01 октября 2022 – 30 апреля 2023
                        </div>
                        <div class="league-tournaments__card-teams">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#teams"></use>
                            </svg>
                            30 команд
                        </div>
                        <div class="league-tournaments__card-time">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#time"></use>
                            </svg>
                            Идёт
                        </div>
                        <svg width="14" height="14" aria-hidden="true" class="league-tournaments__card-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </a>
                </li>
                <li class="league-tournaments__list-item">
                    <a href="#" class="league-tournaments__card">
                        <h3 class="league-tournaments__card-title">
                            Чемпионат Континентальной хоккейной лиги среди мужских команд
                        </h3>
                        <div class="league-tournaments__card-dates">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#calendar"></use>
                            </svg>
                            01 октября 2022 – 30 апреля 2023
                        </div>
                        <div class="league-tournaments__card-teams">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#teams"></use>
                            </svg>
                            30 команд
                        </div>
                        <div class="league-tournaments__card-time">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#time"></use>
                            </svg>
                            Идёт
                        </div>
                        <svg width="14" height="14" aria-hidden="true" class="league-tournaments__card-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </a>
                </li>
                <li class="league-tournaments__list-item">
                    <a href="#" class="league-tournaments__card">
                        <h3 class="league-tournaments__card-title">
                            Чемпионат Континентальной хоккейной лиги среди мужских команд
                        </h3>
                        <div class="league-tournaments__card-dates">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#calendar"></use>
                            </svg>
                            01 октября 2022 – 30 апреля 2023
                        </div>
                        <div class="league-tournaments__card-teams">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#teams"></use>
                            </svg>
                            30 команд
                        </div>
                        <div class="league-tournaments__card-time">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#time"></use>
                            </svg>
                            Завершён
                        </div>
                        <svg width="14" height="14" aria-hidden="true" class="league-tournaments__card-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>