<section class="league-header">
    <div class="league-header__inner">
        <div class="league-header__top-row">
            <div class="league-header__main-info">
                <div class="league-header__logo-container">
                    <img src="/khl.webp" alt="" class="league-header__logo-image">
                </div>
                <div class="league-header__main-info-content">
                    <h1 class="league-header__main-info-title">
                        Континентальная<br> хоккейная лига (КХЛ)
                    </h1>
                    <a href="#" class="league-header__link">
                        www.khl.ru
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="league-header__specs">
                <table>
                    <tbody>
                        <tr>
                            <th>
                                Год основания
                            </th>
                            <td>
                                2008
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Главный приз
                            </th>
                            <td>
                                Кубок Гагарина
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Президент КХЛ
                            </th>
                            <td>
                                Алексей Морозов
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="league-header__hidden-content">
            <div class="league-header__hidden-content-inner">
                <div class="league-header__middle-row">
                    <div class="league-header__about-league">
                        <h3 class="league-header__about-league-heading">
                            О лиге
                        </h3>
                        <div class="league-header__about-league-text">
                            <p>
                                Международная лига, созданная для развития хоккея на территории России и других стран
                                Европы
                                и
                                Азии. Решение о создании Лиги было принято в феврале 2008 года.
                            </p>
                            <p>
                                После переговоров и подготовительной работы Федерация хоккея России (ФХР) 27 марта 2008
                                года
                                официально передала КХЛ права на проведение национального чемпионата в течение трёх лет.
                                В
                                настоящее время действует 4-летний договор между ФХР и КХЛ (от 30 апреля 2021 года).
                            </p>
                        </div>
                    </div>
                    <div class="league-header__contacts">
                        <h3 class="league-header__contacts-heading">
                            Контакты
                        </h3>
                        <ul class="league-header__contacts-list">
                            <li class="league-header__contacts-list-item">
                                <a href="#" class="league-header__contacts-link">
                                    <img src="/league-contacts/phone.svg" alt=""
                                        class="league-header__contacts-link-icon">
                                    +7 (843) 236-01-02, 236-01-30
                                </a>
                            </li>
                            <li class="league-header__contacts-list-item">
                                <a href="mailto:fh-rt@yandex.ru" class="league-header__contacts-link">
                                    <img src="/league-contacts/mail.svg" alt=""
                                        class="league-header__contacts-link-icon">
                                    fh-rt@yandex.ru
                                </a>
                            </li>
                            <li class="league-header__contacts-list-item">
                                <a href="#" class="league-header__contacts-link">
                                    <img src="/league-contacts/address.svg" alt=""
                                        class="league-header__contacts-link-icon">
                                    420015, Республика Татарстан, г. Казань, ул. К. Маркса, 71
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="league-header__bottom-row">
                    <div class="league-header__representatives">
                        <h3 class="league-header__representatives-heading">
                            <img src="/tatarstan.svg" alt="" class="league-header__representatives-icon">
                            Представители Татарстана в лиге
                        </h3>
                        {{!-- <div class="league-header__representatives-short">
                            <b>18</b>/18
                            команд
                        </div> --}}

                        <ul class="league-header__representatives-list">
                            <li class="league-header__representatives-list-item">
                                <div class="league-header__representatives-card">
                                    <div class="league-header__representatives-card-key">
                                        Казанские Драконы
                                    </div>
                                    <div class="league-header__representatives-card-value">
                                        Казань
                                    </div>
                                </div>
                            </li>
                            <li class="league-header__representatives-list-item">
                                <div class="league-header__representatives-card">
                                    <div class="league-header__representatives-card-key">
                                        Челны
                                    </div>
                                    <div class="league-header__representatives-card-value">
                                        Набережные-Челны
                                    </div>
                                </div>
                            </li>
                            <li class="league-header__representatives-list-item">
                                <div class="league-header__representatives-card">
                                    <div class="league-header__representatives-card-key">
                                        Алга
                                    </div>
                                    <div class="league-header__representatives-card-value">
                                        Казань
                                    </div>
                                </div>
                            </li>
                            <li class="league-header__representatives-list-item">
                                <div class="league-header__representatives-card">
                                    <div class="league-header__representatives-card-key">
                                        Нефтянники
                                    </div>
                                    <div class="league-header__representatives-card-value">
                                        Альметьевск
                                    </div>
                                </div>
                            </li>
                            <li class="league-header__representatives-list-item">
                                <div class="league-header__representatives-card">
                                    <div class="league-header__representatives-card-key">
                                        Беркут
                                    </div>
                                    <div class="league-header__representatives-card-value">
                                        Орск
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="league-header__more-btn-wrapper">
        <button class="league-header__more-btn">
            <span class="league-header__more-btn-text">
                Подробнее о лиге
            </span>
            <span class="league-header__more-btn-text">
                Свернуть
            </span>

            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#arrow-down"></use>
            </svg>
        </button>
    </div>

</section>