<a href="#" class="news-card">
    <div class="news-card__image-container">
        <img src="{{ src }}" alt="" class="news-card__image">
    </div>
    <div class="news-card__content">
        <div class="news-card__date">
            {{ date }}
        </div>
        <h3 class="news-card__title">
            {{ title }}
        </h3>
        {{#if desc}}
            <div class="news-card__desc">
                {{ desc }}
            </div>
        {{/if}}
        <div class="news-card__tags">
            {{#each tags}}
                <div class="news-card__tag">
                    {{ this }}
                </div>
            {{/each}}
        </div>
        {{#if hasButton}}
            <div class="news-card__button">
                Узнать больше
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        {{/if}}
    </div>
</a>