<section class="news-single">
    <div class="news-single__top">
        <div class="news-single__top-inner">


            <a href="#" class="news-single__back-link">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-left"></use>
                </svg>
                Ко всем новостям
            </a>
            <div class="news-single__main-info">
                <div class="news-single__main-info-row">
                    <div class="news-single__tags">
                        <div class="news-single__tag">
                            Матч
                        </div>
                    </div>
                    <div class="news-single__date">
                        16.11.2023 / 11:22
                    </div>
                </div>
                <h1 class="news-single__main-heading">
                    Очередная победа: «Ак Барс» движется вверх по турнирной таблице КХЛ
                </h1>
            </div>
        </div>
    </div>
    <div class="news-single__content">
        <div class="news-single__content-inner">


            <div class="news-single__sidebar">
                <div class="news-single__social">
                    <h4 class="news-single__social-title">
                        Поделиться:
                    </h4>
                    <ul class="news-single__social-list">
                        <li class="news-single__social-list-item">
                            <a href="#" class="news-single__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#vk"></use>
                                </svg>
                                ВКонтакте
                            </a>
                        </li>
                        <li class="news-single__social-list-item">
                            <a href="#" class="news-single__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#ok"></use>
                                </svg>
                                Одноклассники
                            </a>
                        </li>
                        <li class="news-single__social-list-item">
                            <a href="#" class="news-single__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                                Telegram
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="news-single__main">
                <div class="news-single__text-content">
                    <figure>
                        <img src="/news-single.jpg" alt="">
                        <figcaption>
                            Автор фото: Тиммербулатов Наиль, Бизнес Онлайн
                        </figcaption>
                    </figure>
                    <h2>
                        Нападающий «Ак Барса» Дмитрий Кагарлицкий прокомментировал гостевую победу над «Авангардом» (3:2
                        ОТ)
                        и рассказал о моменте со своей шайбой.
                    </h2>
                    <p>
                        <b>
                            – С какими эмоциями уходите на паузу в чемпионате?
                        </b>
                    </p>
                    <p>
                        – Хорошо, что закончили этот отрезок на позитивной ноте. Много работали, старались, чтобы этого
                        достичь. Немного обидно за поражение в Астане, сегодня тоже плохо начали первый период, но
                        вытащили
                        матч. Хорошая победа – дополнительный стимул для команды. Впереди много работы.
                    </p>
                    <p>
                        <b>
                            – Вспомните эпизод с голом.
                        </b>
                    </p>
                    <p>
                        – Выделю <a href="#">Кирюху Петрова,</a> он очень хорошо поборолся за шайбу, потом Вадик дал
                        подкидку, мне нужно
                        было попасть. Пересматривал эпизод – пограничный момент, там и игрок «Авангарда» клюшку опускал.
                        Хорошо, что так сработали, важный гол, начали камбэк.
                    </p>
                    <p>
                        <b>
                            – На тренировке у вас сегодня было реализовано два похожих момента, это помогло?
                        </b>
                    </p>
                    <p>
                        – Не знаю, на тренировках тоже стараемся забивать голы, чтобы это работало в игре.
                    </p>
                    <p>
                        <b>
                            – С какими эмоциями уходите на паузу в чемпионате?
                        </b>
                    </p>
                    <p>
                        – Хорошо, что закончили этот отрезок на позитивной ноте. Много работали, старались, чтобы этого
                        достичь. Немного обидно за поражение в Астане, сегодня тоже плохо начали первый период, но
                        вытащили
                        матч. Хорошая победа – дополнительный стимул для команды. Впереди много работы.
                    </p>
                    <blockquote>
                        «Приятные эмоции, прекрасные ощущения, потому что я здесь вырос, очень долго здесь играл.
                        Необходимо
                        подготовится к матчу и, самое главное, одержать победу. Хотелось бы продолжить победную серию.»
                    </blockquote>
                    <p>
                        <b>
                            – Вспомните эпизод с голом.
                        </b>
                    </p>
                    <p>
                        – Выделю Кирюху Петрова, он очень хорошо поборолся за шайбу, потом Вадик дал подкидку, мне нужно
                        было попасть. Пересматривал эпизод – пограничный момент, там и игрок «Авангарда» клюшку опускал.
                        Хорошо, что так сработали, важный гол, начали камбэк.
                    </p>
                </div>
                <div class="news-single__bottom-info">
                    <div class="news-single__source">
                        <h3 class="news-single__source-heading">
                            Источник:
                        </h3>
                        <div class="news-single__source-text">
                            Абрдрахманов Тимур, Андрей Фокин – Бизнес Онлайн <a
                                href="#">https://www.business-gazeta.ru/article/576662</a>
                        </div>
                    </div>
                    <div class="news-single__bottom-tags">
                        <h4 class="news-single__bottom-tags-heading">
                            Теги:
                        </h4>
                        <ul class="news-single__bottom-tags-list">
                            <li class="news-single__bottom-tags-list-item">
                                <a href="#" class="news-single__bottom-tag">
                                    #Авангард
                                </a>
                            </li>
                            <li class="news-single__bottom-tags-list-item">
                                <a href="#" class="news-single__bottom-tag">
                                    #Кирилл Петров
                                </a>
                            </li>
                            <li class="news-single__bottom-tags-list-item">
                                <a href="#" class="news-single__bottom-tag">
                                    #Ак Барс
                                </a>
                            </li>
                            <li class="news-single__bottom-tags-list-item">
                                <a href="#" class="news-single__bottom-tag">
                                    #Дмитрий Кагарлицкий
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>