<section class="news-catalog">
    <div class="news-catalog__top">
        <div class="news-catalog__top-inner">


            <h1 class="news-catalog__heading" data-text="Новости">
                Новости
            </h1>
            <div class="news-catalog__filters">
                <form action="/" method="GET" class="news-catalog__filters-form">
                    <div class="news-catalog__filters-form-fields">
                        <div class="news-catalog__filters-form-field">
                            <div class="news-catalog__filters-search">
                                <div class="news-catalog__filters-search-input-wrapper">
                                    <input type="search" name="s" class="news-catalog__filters-search-input"
                                        placeholder="Поиск по новостям и тегам">
                                    <button class="news-catalog__filters-search-close-btn" type="button">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#cross"></use>
                                        </svg>
                                    </button>
                                    <button class="news-catalog__filters-search-btn">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#search"></use>
                                        </svg>
                                    </button>
                                    <div class="news-catalog__filters-search-dropdown">
                                        <div class="news-catalog__filters-search-dropdown-inner">
                                            <ul class="news-catalog__filters-search-dropdown-list">
                                                <li class="news-catalog__filters-search-dropdown-list-item">
                                                    <a href="#" class="news-catalog__filters-search-dropdown-link">
                                                        Ак Буре
                                                    </a>
                                                </li>
                                                <li class="news-catalog__filters-search-dropdown-list-item">
                                                    <a href="#" class="news-catalog__filters-search-dropdown-link">
                                                        Ак Барс
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="news-catalog__filters-search-tags">
                                                <a href="#" class="news-catalog__filters-search-tag">
                                                    #Ак Барс
                                                </a>
                                                <a href="#" class="news-catalog__filters-search-tag">
                                                    #Ак Буре
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="news-catalog__filters-mobile-filters">
                            <button class="news-catalog__filters-mobile-filters-open-btn" type="button">
                                <span class="news-catalog__filters-mobile-filters-open-btn-text">
                                    Фильтр по новостям
                                </span>
                                <span class="news-catalog__filters-mobile-filters-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>

                            </button>
                            <div class="news-catalog__filters-mobile-filters-modal">

                                <h4 class="news-catalog__filters-mobile-filters-modal-title">
                                    Фильтр<br>
                                    по новостям
                                </h4>
                                <div class="news-catalog__filters-mobile-filters-modal-fields">
                                    <div
                                        class="news-catalog__filters-form-field news-catalog__filters-form-field--category">
                                        <div class="select" data-select-name="category-select"
                                            data-do-not-close-on-mobile="" data-placeholder="Категория новости">
                                            <button class="select__btn" type="button">
                                                <span class="select__btn-text">
                                                    Категория новости
                                                </span>
                                                <div class="select__btn-arrow">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#arrow-down"></use>
                                                    </svg>
                                                </div>
                                            </button>
                                            <div class="select__dropdown">
                                                <div class="select__dropdown-inner">
                                                    <h4 class="news-catalog__filters-mobile-inner-title">
                                                        Категория новости
                                                    </h4>
                                                    <div class="news-catalog__filters-select-list-wrapper">
                                                        <ul class="select__list js-check-scroll">
                                                            <li class="select__list-item">
                                                                <label class="select__label">
                                                                    <input type="radio" name="category"
                                                                        value="Новость портала"
                                                                        class="select__radio-input">
                                                                    <span class="select__radio-circle-mark only-mobile">

                                                                    </span>
                                                                    <span class="select__radio-text">
                                                                        Новость портала
                                                                    </span>
                                                                </label>
                                                            </li>
                                                            <li class="select__list-item">
                                                                <label class="select__label">
                                                                    <input type="radio" name="category"
                                                                        value="Турнир (Матч)"
                                                                        class="select__radio-input">
                                                                    <span class="select__radio-circle-mark only-mobile">

                                                                    </span>
                                                                    <span class="select__radio-text">
                                                                        Турнир (Матч)
                                                                    </span>
                                                                </label>
                                                            </li>
                                                            <li class="select__list-item">
                                                                <label class="select__label">
                                                                    <input type="radio" name="category" value="Событие"
                                                                        class="select__radio-input">
                                                                    <span class="select__radio-circle-mark only-mobile">

                                                                    </span>
                                                                    <span class="select__radio-text">
                                                                        Событие
                                                                    </span>
                                                                </label>
                                                            </li>
                                                            <li class="select__list-item">
                                                                <label class="select__label">
                                                                    <input type="radio" name="category"
                                                                        value="Трансферы" class="select__radio-input">
                                                                    <span class="select__radio-circle-mark only-mobile">

                                                                    </span>
                                                                    <span class="select__radio-text">
                                                                        Трансферы
                                                                    </span>
                                                                </label>
                                                            </li>
                                                            <li class="select__list-item">
                                                                <label class="select__label">
                                                                    <input type="radio" name="category"
                                                                        value="Пресс-конференция"
                                                                        class="select__radio-input">
                                                                    <span class="select__radio-circle-mark only-mobile">

                                                                    </span>
                                                                    <span class="select__radio-text">
                                                                        Пресс-конференция

                                                                    </span>
                                                                </label>
                                                            </li>
                                                            <li class="select__list-item">
                                                                <label class="select__label">
                                                                    <input type="radio" name="category" value="Интервью"
                                                                        class="select__radio-input">
                                                                    <span class="select__radio-circle-mark only-mobile">

                                                                    </span>
                                                                    <span class="select__radio-text">
                                                                        Интервью

                                                                    </span>
                                                                </label>
                                                            </li>
                                                            <li class="select__list-item">
                                                                <label class="select__label">
                                                                    <input type="radio" name="category"
                                                                        value="Поздравление"
                                                                        class="select__radio-input">
                                                                    <span class="select__radio-circle-mark only-mobile">

                                                                    </span>
                                                                    <span class="select__radio-text">
                                                                        Поздравление
                                                                    </span>
                                                                </label>
                                                            </li>
                                                            <li class="select__list-item">
                                                                <label class="select__label">
                                                                    <input type="radio" name="category"
                                                                        value="Соболезнование"
                                                                        class="select__radio-input">
                                                                    <span class="select__radio-circle-mark only-mobile">

                                                                    </span>
                                                                    <span class="select__radio-text">
                                                                        Соболезнование
                                                                    </span>
                                                                </label>
                                                            </li>
                                                            <li class="select__list-item">
                                                                <label class="select__label">
                                                                    <input type="radio" name="category" value="Семинары"
                                                                        class="select__radio-input">
                                                                    <span class="select__radio-circle-mark only-mobile">

                                                                    </span>
                                                                    <span class="select__radio-text">
                                                                        Семинары
                                                                    </span>
                                                                </label>
                                                            </li>
                                                            <li class="select__list-item">
                                                                <label class="select__label">
                                                                    <input type="radio" name="category" value="Обучение"
                                                                        class="select__radio-input">
                                                                    <span class="select__radio-circle-mark only-mobile">

                                                                    </span>
                                                                    <span class="select__radio-text">
                                                                        Обучение
                                                                    </span>
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <button
                                                        class="news-catalog__filters-mobile-select-apply js-select-close-btn"
                                                        type="button">
                                                        Применить
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="news-catalog__filters-form-field news-catalog__filters-form-field--league">
                                        <div class="select" data-select-name="league-select"
                                            data-do-not-close-on-mobile="" data-placeholder="Все лиги/турниры">
                                            <button class="select__btn" type="button">
                                                <span class="select__btn-text">
                                                    Все лиги/турниры
                                                </span>
                                                <div class="select__btn-arrow">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#arrow-down"></use>
                                                    </svg>
                                                </div>
                                            </button>
                                            <div class="select__dropdown">
                                                <div class="select__dropdown-inner">
                                                    <h4 class="news-catalog__filters-mobile-inner-title">
                                                        Лига / Турнир
                                                    </h4>
                                                    <div class="news-catalog__filters-select-list-wrapper">
                                                        <ul class="select__list js-check-scroll">
                                                            <li class="select__list-item">
                                                                <label class="select__label">
                                                                    <input type="radio" name="type" value="КХЛ"
                                                                        class="select__radio-input">
                                                                    <span class="select__radio-circle-mark only-mobile">

                                                                    </span>
                                                                    <span class="select__radio-text">
                                                                        КХЛ
                                                                    </span>
                                                                </label>
                                                            </li>
                                                            <li class="select__list-item">
                                                                <label class="select__label">
                                                                    <input type="radio" name="type" value="ВХЛ"
                                                                        class="select__radio-input">
                                                                    <span class="select__radio-circle-mark only-mobile">

                                                                    </span>
                                                                    <span class="select__radio-text">
                                                                        ВХЛ
                                                                    </span>
                                                                </label>
                                                            </li>
                                                            <li class="select__list-item">
                                                                <label class="select__label">
                                                                    <input type="radio" name="type" value="МХЛ"
                                                                        class="select__radio-input">
                                                                    <span class="select__radio-circle-mark only-mobile">

                                                                    </span>
                                                                    <span class="select__radio-text">
                                                                        МХЛ
                                                                    </span>
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <button
                                                        class="news-catalog__filters-mobile-select-apply js-select-close-btn"
                                                        type="button">
                                                        Применить
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="news-catalog__filters-form-field news-catalog__filters-form-field--calendar">
                                        <div class="news-catalog__filters-calendar">
                                            <label class="news-catalog__filters-calendar-label">
                                                <input type="text" class="news-catalog__filters-calendar-input"
                                                    value="За все время" readonly="">
                                                <span class="news-catalog__filters-calendar-icon">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#calendar"></use>
                                                    </svg>
                                                </span>
                                            </label>
                                            <div class="news-catalog__filters-calendar-dropdown">
                                                <div class="news-catalog__filters-calendar-dropdown-inner">

                                                    <input type="hidden" name="date"
                                                        class="news-catalog__filters-calendar-element">

                                                    <button class="news-catalog__filters-calendar-reset" type="button">
                                                        Сбросить
                                                    </button>
                                                    <button class="news-catalog__filters-calendar-apply-btn"
                                                        type="button">
                                                        Применить дату
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="news-catalog__filters-mobile-filters-modal-btns">
                                    <button class="news-catalog__filters-mobile-filters-modal-submit-btn" type="button">
                                        Применить
                                    </button>
                                    <button class="news-catalog__filters-mobile-filters-modal-reset-btn" type="reset">
                                        Сбросить фильтр
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="news-catalog__bottom">
        <div class="news-catalog__bottom-inner">


            <ul class="news-catalog__list">
                {{#each news}}
                    <li class="news-catalog__list-item">
                        {{> news-card }}
                    </li>
                {{/each}}
            </ul>
            <a href="#" class="news-catalog__show-more">
                Показать ещё
            </a>
        </div>
    </div>
</section>