<a href="#" class="news-card">
    <div class="news-card__image-container">
        <img src="{{ src }}" alt="" class="news-card__image">
    </div>
    <div class="news-card__content">
        <div class="news-card__date">
            {{ date }}
        </div>
        <h3 class="news-card__title">
            {{ title }}
        </h3>
        <div class="news-card__tags">
            {{#each tags}}
                <div class="news-card__tag">
                    {{ this }}
                </div>
            {{/each}}
        </div>
    </div>
</a>