<section class="partners">
    <div class="container">
        <h2 class="partners__heading" data-text="Спонсоры и партнёры">
            Спонсоры и партнёры
        </h2>
        <ul class="partners__list">
            {{#each partners}}
                <li class="partners__list-item">
                    <a href="#" class="partners__card">
                        <div class="partners__card-image-container">
                            <img src="{{ src }}" alt="" class="partners__card-image" width="300">
                        </div>
                        <h3 class="partners__card-title">
                            {{ title }}
                        </h3>
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</section>