<section class="quotes-slider quotes-slider--margin-bottom">
    <div class="quotes-slider__bg">
        <div class="quotes-slider__bg-image-wrapper">
            <img src="/quotes-slider.webp" alt="" class="quotes-slider__bg-image">
        </div>

    </div>
    <div class="quotes-slider__content js-quotes-slider">
        <div class="swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="quotes-slider__card">
                        <div class="quotes-slider__card-content">
                            <div class="quotes-slider__card-quote-text">
                                «Система хоккея в Республике Татарстан должна стать системой замкнутого цикла,
                                направленной на воспитание здорового подрастающего поколения.»
                            </div>
                            <div class="quotes-slider__card-quote-author">
                                <div class="quotes-slider__card-quote-author-name">
                                    Маганов Наиль Ульфатович
                                </div>
                                <div class="quotes-slider__card-quote-author-role">
                                    Президент ХК «Ак Барс» с 2016 г.,<br>
                                    Президент Федерации хоккея РТ
                                </div>
                            </div>
                        </div>
                        <div class="quotes-slider__card-image-wrapper">
                            <img src="/maganov.webp" alt="" class="quotes-slider__card-image">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="quotes-slider__card">
                        <div class="quotes-slider__card-content">
                            <div class="quotes-slider__card-quote-text">
                                «Мы не можем изменить диагноз ребят, но мы можем попробовать изменить их жизнь!»

                            </div>
                            <div class="quotes-slider__card-quote-author">
                                <div class="quotes-slider__card-quote-author-name">
                                    Садриева Ангелина
                                </div>
                                <div class="quotes-slider__card-quote-author-role">
                                    Президент Центра развития
                                    адаптивного спорта
                                    Республики Татарстан
                                </div>
                            </div>
                        </div>
                        <div class="quotes-slider__card-image-wrapper">
                            <img src="/sadrieva.webp" alt="" class="quotes-slider__card-image">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="quotes-slider__card">
                        <div class="quotes-slider__card-content">
                            <div class="quotes-slider__card-quote-text">
                                «Я искренне убеждена, что та работа, которую проводит Центр развития адаптивного спорта
                                Республики Татарстан, наполняет детство особенных детей яркими красками, а будущее –
                                стремлениями и смыслом.
                                »

                            </div>
                            <div class="quotes-slider__card-quote-author">
                                <div class="quotes-slider__card-quote-author-name">
                                    Барадачева Анастасия
                                </div>
                                <div class="quotes-slider__card-quote-author-role">
                                    Президент Федерации адаптивного хоккея
                                </div>
                            </div>
                        </div>
                        <div class="quotes-slider__card-image-wrapper">
                            <img src="/barada.webp" alt="" class="quotes-slider__card-image">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <ol class="quotes-slider__pagination">
            {{#times 3}}
                <li class="quotes-slider__pagination-bullet">
                    <div class="quotes-slider__pagination-bullet-dot">

                    </div>
                    <div class="quotes-slider__pagination-bullet-timer">
                        <svg viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="48" stroke-width="1" stroke="white" fill="none"
                                vector-effect="non-scaling-stroke" />
                        </svg>
                        <svg viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="48" stroke-width="1" stroke="#FF0000" fill="none"
                                vector-effect="non-scaling-stroke" />
                        </svg>
                        <div class="quotes-slider__pagination-bullet-timer-number">

                        </div>
                    </div>
                </li>
            {{/times}}
        </ol>
    </div>
</section>