<div class="search js-search-modal">
    <div class="search__overlay"></div>
    <div class="search__modal">
        <div class="search__inner">
            <button class="search__close js-search-close" type="button">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <form action="/" method="GET" class="search__form">
                <input type="search" class="search__form-input" name="q">
                <button type="reset" class="search__form-clear" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#cross"></use>
                    </svg>
                </button>
                <button class="search__form-submit" type="submit">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
            </form>
            <ul class="search__results-list">
                <li class="search__results-list-item">
                    <a href="#" class="search__results-link">
                        В поисках удачи
                    </a>
                </li>
                <li class="search__results-list-item">
                    <a href="#" class="search__results-link">
                        Позиционная атака «Ак Барса»
                    </a>
                </li>
                <li class="search__results-list-item">
                    <a href="#" class="search__results-link">
                        Показалось, что шайба зашла, но не тут-то было
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>