<div class="select">
    <button class="select__btn" type="button">
        <span class="select__btn-text">
            Категория новости
        </span>
        <div class="select__btn-arrow">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#arrow-down"></use>
            </svg>
        </div>
    </button>
    <div class="select__dropdown">
        <div class="select__dropdown-inner">
            <ul class="select__list">
                <li class="select__list-item">
                    <label class="select__label">
                        <input type="radio" name="category" value="Новость портала" class="select__radio-input">
                        <span class="select__radio-text">
                            Новость портала
                        </span>
                    </label>
                </li>
                <li class="select__list-item">
                    <label class="select__label">
                        <input type="radio" name="category" value="Турнир (Матч)" class="select__radio-input">
                        <span class="select__radio-text">
                            Турнир (Матч)
                        </span>
                    </label>
                </li>
                <li class="select__list-item">
                    <label class="select__label">
                        <input type="radio" name="category" value="Событие" class="select__radio-input">
                        <span class="select__radio-text">
                            Событие
                        </span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>