<div class="modal js-modal" id="shop-modal">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#cross"></use>
            </svg>
        </button>

        <div class="modal__content">
            <h3 class="modal__heading">
                Шлем
            </h3>
            <div class="modal__large-text">
                Хокке́йный шлем (англ. hockey helmet) — основное функциональное предназначение защитить голову игрока от
                травмы.
            </div>
            <div class="modal__text-content">
                <p>
                    Шлем должен быть лёгким и хорошо крепиться. Изготавливается шлем из высококачественного пластика. С
                    его внутренней стороны расположена специальная прокладка, смягчающая силу удара. Все мужчины до
                    восемнадцати лет обязаны играть в шлемах с металлическим решетчатым «забралом» (а женщины — всегда);
                    после восемнадцати «забрало» разрешается сменить на прозрачный пластиковый визор (высокопрочная
                    прозрачная поликарбонатная защита лица, крепится к передней части шлема). Визор обязан располагаться
                    вертикально и закрывать глаза и часть носа. Поднимать визор вверх запрещено. Выбор шлема, как и всей
                    хоккейной амуниции, очень индивидуален и зависит, в первую очередь, от формы головы.


                </p>
                <p>
                    Каждый сезон основные производители выпускают порядка пяти различных моделей хоккейных шлемов.
                    Модели имеют различную комплектацию и предусмотренное заводом-изготовителем количество размеров и
                    расцветок.
                    В отличие от другой экипировки (например, щитков или налокотников) цвет шлема должен сочетаться с
                    остальной формой. Все игроки каждой из играющих команд должны быть одеты в одинаковые по цвету шлемы
                    (кроме вратаря).
                </p>
            </div>
        </div>
    </div>
</div>