<section class="support">
    <div class="support__header">
        <div class="support__header-content">
            <div class="support__header-row">
                <a href="#" class="support__back">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                    Назад
                </a>
                <div class="support__header-text-content">
                    <h1 class="support__heading">
                        Поддержи адаптивный хоккей
                        в Республике Татарстан
                    </h1>
                    <div class="support__text">
                        Чтобы сделать перевод, откройте любое банковское приложение, отсканируйте QR-код и введите
                        желаемую сумму для перевода проекту.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="support__content">
        <div class="support__content-inner">
            <div class="support__sidebar">
                <div class="support__social">
                    <h4 class="support__social-heading">
                        Поделиться:
                    </h4>
                    <ul class="support__social-list">
                        <li class="support__social-list-item">
                            <a href="#" class="support__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#vk"></use>
                                </svg>
                                <span class="support__social-link-text">
                                    ВКонтакте
                                </span>

                            </a>
                        </li>
                        <li class="support__social-list-item">
                            <a href="#" class="support__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#ok"></use>
                                </svg>


                                <span class="support__social-link-text">
                                    Одноклассники
                                </span>
                            </a>
                        </li>
                        <li class="support__social-list-item">
                            <a href="#" class="support__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>


                                <span class="support__social-link-text">
                                    Telegram
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="support__main">
                <div class="support__qr">
                    <div class="support__qr-image-wrapper">
                        <img src="/qr.webp" alt="" class="support__qr-image">
                    </div>
                    <div class="support__qr-content">
                        <div class="support__qr-text">
                            Вы можете осуществить оплату через систему быстрых платежей перейдя по QR-коду или нажав на
                            кнопку ниже:
                        </div>
                        <a href="#" class="support__qr-link">
                            Оплатить через СБП
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#link"></use>
                            </svg>
                        </a>
                        <img src="/sbp.svg" alt="" class="support__qr-sbp">
                    </div>
                </div>
                <div class="support__info">
                    <h3>
                        Также можно поддержать адаптивный хоккей, направив средства в Центр развития адаптивного спорта
                        Республики Татарстан.
                    </h3>
                    <p>
                        По реквизитам, указанным ниже, можно отправить средства на создание детской
                        команды в конкретном районе.
                    </p>
                    <p>
                        Для этого при пересылке следует указать название административно-территориальной единицы.
                        Например, «Балтасинский район». Центр гарантирует, что средства будут
                        направлены по указанному адресу.
                    </p>
                </div>
                <div class="support__requisites">
                    <a href="#" class="support__requisites-download">
                        Скачать реквизиты (Pdf)
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                    <div class="support__requisites-table">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Полно наименование</th>
                                    <td>
                                        АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ ОРГАНИЗАЦИЯ
                                        «ЦЕНТР РАЗВИТИЯ АДАПТИВНОГО СПОРТА
                                        РЕСПУБЛИКИ ТАТАРСТАН»
                                    </td>
                                </tr>
                                <tr>
                                    <th>Сокращённое наименование</th>
                                    <td>
                                        АНО «ЦЕНТР РАЗВИТИЯ АДАПТИВНОГО СПОРТА РЕСПУБЛИКИ ТАТАРСТАН»
                                    </td>
                                </tr>
                                <tr>
                                    <th>Юридический адрес</th>
                                    <td>
                                        420079, Республика Татарстан, г. Казань,
                                        ул. Гумера Баширова, д. 3А, кв. 83
                                    </td>
                                </tr>
                                <tr>
                                    <th>Почтовый адрес</th>
                                    <td>
                                        420079, Республика Татарстан, г. Казань,
                                        ул. Гумера Баширова, д. 3А, кв. 83
                                    </td>
                                </tr>
                                <tr>
                                    <th>Телефон/факс</th>
                                    <td>
                                        +7 (917) 914-39-11
                                        +7 (960) 030-89-09
                                    </td>
                                </tr>
                                <tr>
                                    <th>ИНН/КПП </th>
                                    <td>
                                        1656112430/ 165601001
                                    </td>
                                </tr>
                                <tr>
                                    <th>ОГРН</th>
                                    <td>
                                        1201600007289
                                    </td>
                                </tr>
                                <tr>
                                    <th>Расчётный счёт</th>
                                    <td>
                                        40703810229070000119
                                    </td>
                                </tr>
                                <tr>
                                    <th>Корреспондентский счёт</th>
                                    <td>
                                        30101810200000000824
                                    </td>
                                </tr>
                                <tr>
                                    <th>БИК банка</th>
                                    <td>
                                        042202824
                                    </td>
                                </tr>
                                <tr>
                                    <th>Банк</th>
                                    <td>
                                        Филиал «Нижегородский» АО «АЛЬФА-БАНК»
                                    </td>
                                </tr>
                                <tr>
                                    <th>Президент</th>
                                    <td>
                                        Садриева Ангелина Геннадьевна
                                        Действует на основании Устава
                                    </td>
                                </tr>
                                <tr>
                                    <th>E-mail</th>
                                    <td>
                                        info@adaptsportrt.ru
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>