<div class="modal js-modal" id="team-modal">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <div class="modal__image-container">
            <img src="/modal.svg" alt="" class="modal__image">
        </div>
        <div class="modal__content">
            <h3 class="modal__heading">
                Ак Барс – следж
            </h3>
            <div class="modal__date">
                Основана в 2020 г.
            </div>
            <div class="modal__text-content">
                <p>
                    Команда «Ак Барс-следж» возникла в Казани зимой 2020 года. Инициатива по её созданию принадлежит
                    Ангелине и Тимуру Садриевым. Семейная пара во время поездки по США обратила внимание на доступность
                    инфраструктуры для маломобильных людей, в том числе детей.
                </p>
                <p>
                    Вернувшись в столицу РТ, Ангелина и представительство «Ночной хоккейной лиги», при поддержке «Ак
                    Барса», запустили проект «Хоккей каждому»: на протяжении нескольких лет хоккеисты и тренеры выходили
                    на лёд «Татнефть Арены» в одной команде с детьми с ограниченными возможностями, помогая им
                    передвигаться в инвалидных колясках или следж-хоккейных санях. Матчи проходили примерно раз в
                    полугодие, хотя запросы со стороны родителей на такие события не прекращались ежемесячно.
                </p>
                <p>
                    Инициативная пара скоординировалась с «Детской следж-хоккейной лигой» (с 2022 года она именуется
                    Федерацией адаптивного хоккея), при поддержке «Ак Барса», благотворительного фонда «Татнефть» и
                    средств Гранта благотворительного фонда Елены и Геннадия Тимченко в Татарстане возникла первая
                    детская команда для ребят не старше 18 лет.
                </p>
                <img src="/modal-image.webp" alt="">
            </div>
        </div>
    </div>
</div>