<section class="veterans-detail">

    <div class="veterans-detail__top veterans-detail__top--judge">
        <div class="veterans-detail__bg">
            <img src="/judges-header.webp" alt="" class="veterans-detail__bg-image">
        </div>
        <div class="veterans-detail__top-content">
            <a href="#" class="veterans-detail__back">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-left"></use>
                </svg>
                Назад к тренерам
            </a>
        </div>
    </div>
    <div class="veterans-detail__bottom">
        <div class="veterans-detail__bottom-inner">
            <div class="veterans-detail__card">
                <div class="veterans-detail__header veterans-detail__header--grey">
                    <div class="veterans-detail__header-content">
                        <div class="veterans-detail__photo-container">
                            <img src="/trainer.webp" alt="" class="veterans-detail__photo">
                        </div>
                        <h1 class="veterans-detail__name" data-text="Аббазов Ильнар">
                            Аббазов Ильнар Рафикович
                        </h1>
                        <div class="veterans-detail__date">
                            11.01.1988 г.
                        </div>
                        <div class="veterans-detail__params">
                            <div class="veterans-detail__param">
                                <div class="veterans-detail__param-key">
                                    Место рождения
                                </div>
                                <div class="veterans-detail__param-value">
                                    г. Туймазы
                                </div>
                            </div>
                        </div>
                        <div class="veterans-detail__teams">
                            <h4 class="veterans-detail__teams-title">
                                Образование
                            </h4>
                            <div class="veterans-detail__teams-text">
                                Специальность физическая культура, Академия ВЭГУ (г. Уфа). Краткосрочное повышение
                                квалификации: «Современный подход к организации и содержанию учебно-тренировочного
                                процесса по видам спорта», ФГБОУ ВПО «Урал ГУФК», Стерлитамак, КПК 2012г.; «Организация
                                и содержание процесса по хоккею с шайбой в рамках реализации ФГТ», ГАПОУ
                                «Стерлитамакский колледж физической культуры, управления и сервиса», Стерлитамак, 2015
                                г.
                            </div>
                        </div>
                    </div>
                    <div class="veterans-detail__nav">
                        <ul class="veterans-detail__nav-list">
                            <li class="veterans-detail__nav-list-item">
                                <a href="#" class="veterans-detail__nav-link active">
                                    Статистика ТРЕНЕРА
                                </a>
                            </li>
                            <li class="veterans-detail__nav-list-item">
                                <a href="#" class="veterans-detail__nav-link">
                                    ВИДЕО
                                </a>
                            </li>
                            <li class="veterans-detail__nav-list-item">
                                <a href="#" class="veterans-detail__nav-link">
                                    ФОТО
                                </a>
                            </li>
                            <li class="veterans-detail__nav-list-item">
                                <a href="#" class="veterans-detail__nav-link">
                                    ПУБЛИКАЦИИ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="veterans-detail__main">
                    <div class="veterans-detail__tabs">
                        <div class="veterans-detail__tabs-item active">
                            <div class="veterans-detail__tabs-item-content">
                                <div class="veterans-detail__table">
                                    <div class="veterans-detail__table-wrapper">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Сезон
                                                    </th>
                                                    <th>
                                                        Команда
                                                    </th>
                                                    <th>
                                                        Занятое место
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        2022 - 2023
                                                    </td>
                                                    <td>
                                                        <div class="veterans-detail__table-team">
                                                            <div class="veterans-detail__table-team-image-container">
                                                                <img src="/placeholder.svg" alt=""
                                                                    class="veterans-detail__table-image">
                                                            </div>
                                                            <div class="veterans-detail__table-team-content">
                                                                <div class="veterans-detail__table-team-name">
                                                                    Челны 2012
                                                                </div>
                                                                <div class="veterans-detail__table-team-city">
                                                                    Набережные Челны
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        -
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2021 - 2022
                                                    </td>
                                                    <td>
                                                        <div class="veterans-detail__table-team">
                                                            <div class="veterans-detail__table-team-image-container">
                                                                <img src="/placeholder.svg" alt=""
                                                                    class="veterans-detail__table-image">
                                                            </div>
                                                            <div class="veterans-detail__table-team-content">
                                                                <div class="veterans-detail__table-team-name">
                                                                    Челны 2012
                                                                </div>
                                                                <div class="veterans-detail__table-team-city">
                                                                    Набережные Челны
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        11
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2020 - 2021
                                                    </td>
                                                    <td>
                                                        <div class="veterans-detail__table-team">
                                                            <div class="veterans-detail__table-team-image-container">
                                                                <img src="/placeholder.svg" alt=""
                                                                    class="veterans-detail__table-image">
                                                            </div>
                                                            <div class="veterans-detail__table-team-content">
                                                                <div class="veterans-detail__table-team-name">
                                                                    Челны 2012
                                                                </div>
                                                                <div class="veterans-detail__table-team-city">
                                                                    Набережные Челны
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        -
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2019 - 2020
                                                    </td>
                                                    <td>
                                                        <div class="veterans-detail__table-team">
                                                            <div class="veterans-detail__table-team-image-container">
                                                                <img src="/placeholder.svg" alt=""
                                                                    class="veterans-detail__table-image">
                                                            </div>
                                                            <div class="veterans-detail__table-team-content">
                                                                <div class="veterans-detail__table-team-name">
                                                                    Челны 2012
                                                                </div>
                                                                <div class="veterans-detail__table-team-city">
                                                                    Набережные Челны
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        11
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2018 - 2019
                                                    </td>
                                                    <td>
                                                        <div class="veterans-detail__table-team">
                                                            <div class="veterans-detail__table-team-image-container">
                                                                <img src="/placeholder.svg" alt=""
                                                                    class="veterans-detail__table-image">
                                                            </div>
                                                            <div class="veterans-detail__table-team-content">
                                                                <div class="veterans-detail__table-team-name">
                                                                    Челны 2012
                                                                </div>
                                                                <div class="veterans-detail__table-team-city">
                                                                    Набережные Челны
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        -
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2017 - 2018
                                                    </td>
                                                    <td>
                                                        <div class="veterans-detail__table-team">
                                                            <div class="veterans-detail__table-team-image-container">
                                                                <img src="/placeholder.svg" alt=""
                                                                    class="veterans-detail__table-image">
                                                            </div>
                                                            <div class="veterans-detail__table-team-content">
                                                                <div class="veterans-detail__table-team-name">
                                                                    Челны 2012
                                                                </div>
                                                                <div class="veterans-detail__table-team-city">
                                                                    Набережные Челны
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        11
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="veterans-detail__ticker js-ticker">
                                    <div class="veterans-detail__ticker-inner js-ticker-inner">
                                        Достижения&nbsp;
                                    </div>
                                </div>
                                <div class="veterans-detail__awards">
                                    <h4 class="veterans-detail__awards-title">
                                        Достиже&shy;ния
                                    </h4>
                                    <ul class="veterans-detail__awards-list">
                                        <li class="veterans-detail__awards-list-item">
                                            Первенство РТ: 1 место<br> (Арслан-2002), 2010-2011 гг.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="veterans-detail__tabs-item">
                            <div class="veterans-detail__tabs-item-content">
                                <div class="veterans-detail__videos">
                                    <div class="veterans-detail__videos-inner">
                                        <ul class="veterans-detail__videos-list">
                                            <li class="veterans-detail__videos-list-item">
                                                <div class="veterans-detail__videos-card">
                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/hWGgw1K-i8Y"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                        allowfullscreen="" loading="lazy"></iframe>
                                                </div>
                                            </li>
                                            <li class="veterans-detail__videos-list-item">
                                                <div class="veterans-detail__videos-card">
                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/hWGgw1K-i8Y"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                        allowfullscreen="" loading="lazy"></iframe>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="veterans-detail__tabs-item">
                            <div class="veterans-detail__tabs-item-content">
                                <div class="veterans-detail__photos">
                                    <div class="veterans-detail__photos-inner">
                                        <ul class="veterans-detail__photos-list">
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/1.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/1.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/2.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/2.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/3.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/3.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/4.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/4.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/5.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/5.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/6.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/6.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/7.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/7.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/8.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/8.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="veterans-detail__show-more">
                                            Показать ещё
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="veterans-detail__tabs-item">
                            <div class="veterans-detail__tabs-item-content">
                                <div class="veterans-detail__news">
                                    <div class="veterans-detail__news-inner">
                                        <ul class="veterans-detail__news-list">
                                            {{#each news}}
                                                <li class="veterans-detail__news-list-item">
                                                    {{> news-card }}
                                                </li>
                                            {{/each}}
                                        </ul>
                                        <a href="#" class="veterans-detail__show-more">
                                            Показать ещё
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>