<a href="#" class="veteran-card">
    <div class="veteran-card__image-container">
        <img src="{{ src }}" alt="" class="veteran-card__image">
    </div>
    <div class="veteran-card__content">
        <h3 class="veteran-card__name">
            <div class="veteran-card__last-name">
                {{ lastName }}
            </div>
            <div class="veteran-card__first-name">
                {{ firstName }}
            </div>
        </h3>
        <div class="veteran-card__date">
            {{ date }}
        </div>
        <div class="veteran-card__role">
            {{ role }}
        </div>
    </div>
</a>