<section class="veterans-detail">
    <div class="veterans-detail__top">
        <div class="veterans-detail__bg">
            <img src="/veterans-detail-bg.webp" alt="" class="veterans-detail__bg-image">
        </div>
        <div class="veterans-detail__top-content">
            <a href="#" class="veterans-detail__back">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-left"></use>
                </svg>
                Назад к ветеранам
            </a>
        </div>
    </div>
    <div class="veterans-detail__bottom">
        <div class="veterans-detail__bottom-inner">
            <div class="veterans-detail__card">
                <div class="veterans-detail__header">
                    <div class="veterans-detail__header-content">


                        <div class="veterans-detail__photo-container">
                            <img src="/veteran-photo.webp" alt="" class="veterans-detail__photo">
                        </div>
                        <h1 class="veterans-detail__name" data-text="Елфимов Всеволод">
                            Елфимов Всеволод Александрович
                        </h1>
                        <div class="veterans-detail__date">
                            8 января 1949 г.
                        </div>
                        <div class="veterans-detail__role">
                            Нападающий, тренер
                        </div>
                        <div class="veterans-detail__teams">
                            <h4 class="veterans-detail__teams-title">
                                Выступал за команды
                            </h4>
                            <div class="veterans-detail__teams-text">
                                СКА (Куйбышев), СК им. Урицкого (Казань), Нефтяник (Лениногорск)
                            </div>
                        </div>
                    </div>
                    <div class="veterans-detail__nav">
                        <ul class="veterans-detail__nav-list">
                            <li class="veterans-detail__nav-list-item">
                                <a href="#" class="veterans-detail__nav-link active">
                                    БИОГРАФИЯ
                                </a>
                            </li>
                            <li class="veterans-detail__nav-list-item">
                                <a href="#" class="veterans-detail__nav-link">
                                    ВИДЕО
                                </a>
                            </li>
                            <li class="veterans-detail__nav-list-item">
                                <a href="#" class="veterans-detail__nav-link">
                                    ФОТО
                                </a>
                            </li>
                            <li class="veterans-detail__nav-list-item">
                                <a href="#" class="veterans-detail__nav-link">
                                    ПУБЛИКАЦИИ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="veterans-detail__main">
                    <div class="veterans-detail__tabs">
                        <div class="veterans-detail__tabs-item active">
                            <div class="veterans-detail__tabs-item-content">
                                <div class="veterans-detail__text-content">
                                    <div class="veterans-detail__text-content-inner">
                                        <p>
                                            Почти 50 лет Всеволод Александрович отдал казанскому «Ак Барсу». Именно в
                                            составе СК им.
                                            Урицкого в 1966 г. Елфимов начал свою карьеру в профессиональном спорте. А в
                                            1976 году,
                                            уже в качестве капитана команды он вывел казанский клуб из второй лиги в
                                            первую.
                                            Спустя
                                            12 лет в качестве главного тренера он привел своих подопечных в высшую лигу
                                            чемпионата
                                            СССР.
                                        </p>
                                        <p>
                                            Всеволод Александрович был в тренером и команд клубной системы – именно при
                                            нем
                                            «Барс»
                                            дебютировал сначала в МХЛ, а чуть позже сыграл свой первый матч в ВХЛ.
                                            Сейчас,
                                            будучи
                                            старшим консультантом «Академии хоккея Ак Барс», прославленный тренер
                                            передает
                                            свой опыт
                                            молодежи.
                                        </p>
                                        <p>
                                            Именно при Всеволоде Александровиче начали зарождаться такие будущие звезды
                                            как:
                                            Сергей
                                            Закамский, Олег Кофтун, Сергей Пучков, Равиль Шавалеев, Кирилл Голубев,
                                            Равиль
                                            Фазлеев,
                                            Ильнур Гизатуллин и многие другие.
                                        </p>
                                    </div>
                                </div>
                                <div class="veterans-detail__ticker js-ticker">
                                    <div class="veterans-detail__ticker-inner js-ticker-inner">
                                        Награды и заслуги&nbsp;
                                    </div>
                                </div>
                                <div class="veterans-detail__awards">
                                    <h4 class="veterans-detail__awards-title">
                                        Награды<br>
                                        и заслуги
                                    </h4>
                                    <ul class="veterans-detail__awards-list">
                                        <li class="veterans-detail__awards-list-item">
                                            Мастер спорта
                                        </li>
                                        <li class="veterans-detail__awards-list-item">
                                            Чемпион России
                                        </li>
                                        <li class="veterans-detail__awards-list-item">
                                            Заслуженный работник физической культуры РТ
                                        </li>
                                        <li class="veterans-detail__awards-list-item">
                                            Лучший бомбардир в истории казанского хоккея
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="veterans-detail__tabs-item">
                            <div class="veterans-detail__tabs-item-content">
                                <div class="veterans-detail__videos">
                                    <div class="veterans-detail__videos-inner">
                                        <ul class="veterans-detail__videos-list">
                                            <li class="veterans-detail__videos-list-item">
                                                <div class="veterans-detail__videos-card">
                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/hWGgw1K-i8Y"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                        allowfullscreen="" loading="lazy"></iframe>
                                                </div>
                                            </li>
                                            <li class="veterans-detail__videos-list-item">
                                                <div class="veterans-detail__videos-card">
                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/hWGgw1K-i8Y"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                        allowfullscreen="" loading="lazy"></iframe>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="veterans-detail__tabs-item">
                            <div class="veterans-detail__tabs-item-content">
                                <div class="veterans-detail__photos">
                                    <div class="veterans-detail__photos-inner">
                                        <ul class="veterans-detail__photos-list">
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/1.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/1.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/2.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/2.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/3.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/3.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/4.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/4.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/5.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/5.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/6.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/6.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/7.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/7.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/8.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/8.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="veterans-detail__show-more">
                                            Показать ещё
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="veterans-detail__tabs-item">
                            <div class="veterans-detail__tabs-item-content">
                                <div class="veterans-detail__news">
                                    <div class="veterans-detail__news-inner">
                                        <ul class="veterans-detail__news-list">
                                            {{#each news}}
                                                <li class="veterans-detail__news-list-item">
                                                    {{> news-card }}
                                                </li>
                                            {{/each}}
                                        </ul>
                                        <a href="#" class="veterans-detail__show-more">
                                            Показать ещё
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>