<section class="veterans-detail">
    <div class="veterans-detail__top">
        <div class="veterans-detail__bg">
            <img src="/vospit-header.webp" alt="" class="veterans-detail__bg-image">
        </div>
        <div class="veterans-detail__top-content">
            <a href="#" class="veterans-detail__back">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-left"></use>
                </svg>
                Назад к воспитанникам
            </a>
        </div>
    </div>
    <div class="veterans-detail__bottom">
        <div class="veterans-detail__bottom-inner">
            <div class="veterans-detail__card">
                <div class="veterans-detail__header veterans-detail__header--grey">
                    <div class="veterans-detail__header-content">


                        <div class="veterans-detail__photo-container">
                            <img src="/vospit-detail.webp" alt="" class="veterans-detail__photo">
                        </div>
                        <h1 class="veterans-detail__name" data-text="Альберт Яруллин">
                            Альберт Яруллин
                        </h1>
                        <div class="veterans-detail__date">
                            3 марта 1993 г.
                        </div>
                        <div class="veterans-detail__params">
                            <div class="veterans-detail__param">
                                <div class="veterans-detail__param-key">
                                    Амплуа
                                </div>
                                <div class="veterans-detail__param-value">
                                    Нападающий
                                </div>
                            </div>
                            <div class="veterans-detail__param">
                                <div class="veterans-detail__param-key">
                                    Хват
                                </div>
                                <div class="veterans-detail__param-value">
                                    Левый
                                </div>
                            </div>
                            <div class="veterans-detail__param">
                                <div class="veterans-detail__param-key">
                                    Рост
                                </div>
                                <div class="veterans-detail__param-value">
                                    191
                                </div>
                            </div>
                            <div class="veterans-detail__param">
                                <div class="veterans-detail__param-key">
                                    Вес
                                </div>
                                <div class="veterans-detail__param-value">
                                    106
                                </div>
                            </div>
                        </div>
                        <div class="veterans-detail__teams">
                            <h4 class="veterans-detail__teams-title">
                                Выступал за команды
                            </h4>
                            <div class="veterans-detail__teams-text">
                                «Трактор» (Челябинск), «Ак Барс» (Казань), «Ак Барс-2» (Казань), «Барс» (Казань),
                                «Нефтяник» (Альметьевск), «Нефтехимик» (Нижнекамск) и «Атлант» (Московская область).
                            </div>
                        </div>
                        <div class="veterans-detail__params">
                            <div class="veterans-detail__param">
                                <div class="veterans-detail__param-key">
                                    Страна
                                </div>
                                <div class="veterans-detail__param-value">
                                    Россия
                                </div>
                            </div>
                            <div class="veterans-detail__param">
                                <div class="veterans-detail__param-key">
                                    Школа
                                </div>
                                <div class="veterans-detail__param-value">
                                    Ак Барс (Казань)
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="veterans-detail__nav">
                        <ul class="veterans-detail__nav-list">
                            <li class="veterans-detail__nav-list-item">
                                <a href="#" class="veterans-detail__nav-link active">
                                    БИОГРАФИЯ
                                </a>
                            </li>
                            <li class="veterans-detail__nav-list-item">
                                <a href="#" class="veterans-detail__nav-link">
                                    ВИДЕО
                                </a>
                            </li>
                            <li class="veterans-detail__nav-list-item">
                                <a href="#" class="veterans-detail__nav-link">
                                    ФОТО
                                </a>
                            </li>
                            <li class="veterans-detail__nav-list-item">
                                <a href="#" class="veterans-detail__nav-link">
                                    ПУБЛИКАЦИИ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="veterans-detail__main">
                    <div class="veterans-detail__tabs">
                        <div class="veterans-detail__tabs-item active">
                            <div class="veterans-detail__tabs-item-content">
                                <div class="veterans-detail__text-content">
                                    <div class="veterans-detail__text-content-inner">
                                        <h3>
                                            Клубная
                                        </h3>
                                        <p>
                                            Начал карьеру в 2009 году в составе казанского клуба Молодёжной хоккейной
                                            лиги «Барс». В дебютном сезоне провёл 9 матчей, набрав 2 (1+1) очка. В
                                            следующем сезоне, перед началом которого на драфте КХЛ он был выбран в 6
                                            раунде под общим 128 номером родным казанским «Ак Барсом», улучшил свои
                                            показатели, в 47 проведённых матчах набрав 10 (5+5) очков. 13 сентября 2011
                                            года в первом матче сезона 2011/12 против рижского «Динамо», который
                                            завершился победой «Ак Барса» со счётом 5:2, дебютировал в Континентальной
                                            хоккейной лиге, проведя на площадке больше 6 минут.
                                        </p>
                                        <h3>
                                            Международная
                                        </h3>
                                        <p>
                                            В составе сборной России принимал участие в юниорских чемпионатах мира 2010
                                            и 2011 годов, на последнем из которых он в качестве капитана команды привёл
                                            сборную к бронзовым медалям мирового первенства, став также лучшим
                                            ассистентом-защитником турнира, набрав 11 (0+11) очков в 7 проведённых
                                            матчах, а также став лучшим на турнире по показателю полезности с
                                            результатом +12. Принимал участие в молодёжном чемпионате мира 2013,
                                            завоевав бронзовые медали. В общей сложности на юниорских и молодёжных
                                            чемпионатах мира провёл 21 матч, набрал 16 (3 + 13) очков и 10 штрафных
                                            минут.
                                        </p>

                                    </div>
                                </div>
                                <div class="veterans-detail__ticker js-ticker">
                                    <div class="veterans-detail__ticker-inner js-ticker-inner">
                                        Достижения&nbsp;
                                    </div>
                                </div>
                                <div class="veterans-detail__awards">
                                    <h4 class="veterans-detail__awards-title">
                                        Достиже&shy;ния
                                    </h4>
                                    <ul class="veterans-detail__awards-list">
                                        <li class="veterans-detail__awards-list-item">
                                            Чемпион России и обладатель Кубка Гагарина 2018 г.
                                        </li>
                                        <li class="veterans-detail__awards-list-item">
                                            Бронзовый призер чемпионата мира среди юниоров 2011 г.
                                        </li>
                                        <li class="veterans-detail__awards-list-item">
                                            Бронзовый призер чемпионата мира среди молодежи 2013 г.
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="veterans-detail__tabs-item">
                            <div class="veterans-detail__tabs-item-content">
                                <div class="veterans-detail__videos">
                                    <div class="veterans-detail__videos-inner">
                                        <ul class="veterans-detail__videos-list">
                                            <li class="veterans-detail__videos-list-item">
                                                <div class="veterans-detail__videos-card">
                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/hWGgw1K-i8Y"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                        allowfullscreen="" loading="lazy"></iframe>
                                                </div>
                                            </li>
                                            <li class="veterans-detail__videos-list-item">
                                                <div class="veterans-detail__videos-card">
                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/hWGgw1K-i8Y"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                        allowfullscreen="" loading="lazy"></iframe>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="veterans-detail__tabs-item">
                            <div class="veterans-detail__tabs-item-content">
                                <div class="veterans-detail__photos">
                                    <div class="veterans-detail__photos-inner">
                                        <ul class="veterans-detail__photos-list">
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/1.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/1.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/2.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/2.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/3.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/3.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/4.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/4.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/5.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/5.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/6.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/6.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/7.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/7.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="veterans-detail__photos-list-item">
                                                <a href="/veteran-photos/8.webp" class="veterans-detail__photos-card"
                                                    data-fancybox="gallery">
                                                    <div class="veterans-detail__photos-card-image-container">
                                                        <img src="/veteran-photos/8.webp" alt=""
                                                            class="veterans-detail__photos-card-image" loading="lazy">
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="veterans-detail__show-more">
                                            Показать ещё
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="veterans-detail__tabs-item">
                            <div class="veterans-detail__tabs-item-content">
                                <div class="veterans-detail__news">
                                    <div class="veterans-detail__news-inner">
                                        <ul class="veterans-detail__news-list">
                                            {{#each news}}
                                                <li class="veterans-detail__news-list-item">
                                                    {{> news-card }}
                                                </li>
                                            {{/each}}
                                        </ul>
                                        <a href="#" class="veterans-detail__show-more">
                                            Показать ещё
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>