<section class="want-hockey-intro js-want-hockey-intro">
    <div class="want-hockey__intro-header">
        <div class="want-hockey__intro-header-inner">
            <h1 class="want-hockey__intro-heading" data-text="Выбери свой хоккей">
                Выбери свой хоккей
            </h1>
        </div>

    </div>
    <div class="want-hockey__intro-content">
        <div class="want-hockey__intro-content-inner">
            <div class="want-hockey__intro-nav">
                <ul class="want-hockey__intro-nav-list">
                    <li class="want-hockey__intro-nav-list-item">
                        <a href="#" class="want-hockey__intro-nav-link">
                            МАССОВЫЙ
                        </a>
                    </li>
                    <li class="want-hockey__intro-nav-list-item">
                        <a href="#" class="want-hockey__intro-nav-link">
                            ЛЮБИТЕЛИ (мужчины)
                        </a>
                    </li>
                    <li class="want-hockey__intro-nav-list-item">
                        <a href="#" class="want-hockey__intro-nav-link">
                            ЛЮБИТЕЛИ (женщины)
                        </a>
                    </li>
                    <li class="want-hockey__intro-nav-list-item">
                        <a href="#" class="want-hockey__intro-nav-link">
                            Детский (ДЮСШ)
                        </a>
                    </li>
                    <li class="want-hockey__intro-nav-list-item">
                        <a href="#" class="want-hockey__intro-nav-link">
                            АДАПТИВНЫЙ
                        </a>
                    </li>
                </ul>
            </div>
            <div class="want-hockey__intro-tabs">
                <div class="want-hockey__intro-tabs-item active">
                    <div class="want-hockey__intro-card">
                        <div class="want-hockey__intro-card-text-content">
                            <h2 class="want-hockey__intro-card-heading">
                                Массовый хоккей
                            </h2>
                            <div class="want-hockey__intro-card-text">
                                <p>
                                    Любишь играть в хоккей с друзьями? 
                                    Открытая площадка – свежий воздух, минимум экипировки, максимум эмоций и ты на
                                    льду!
                                </p>
                                <p>
                                    Что может быть лучше?!
                                </p>
                            </div>
                            <div class="want-hockey__intro-card-btns">
                                <a href="#" class="want-hockey__intro-card-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    Найди свой лёд!
                                </a>
                            </div>

                        </div>
                        <div class="want-hockey__intro-card-image-wrapper">
                            <img src="/want-hockey-intro/1-new.webp" alt="" class="want-hockey__intro-card-image">
                        </div>
                    </div>
                </div>
                <div class="want-hockey__intro-tabs-item">
                    <div class="want-hockey__intro-card">
                        <div class="want-hockey__intro-card-text-content">
                            <h2 class="want-hockey__intro-card-heading">
                                Любительский хоккей (Мужчины)
                            </h2>
                            <div class="want-hockey__intro-card-text">
                                <p>
                                    Пришло время попробовать свои силы в настоящей команде!
                                </p>
                                <p>
                                    Туриниры и чемпионаты любительских лиг РТ. Оставляй заявку! Мы обязательно
                                    подберем для команду, подходящую по уровню твоей хоккейной подготовки.
                                </p>
                            </div>
                            <div class="want-hockey__intro-card-btns">


                                <a href="#" class="want-hockey__intro-card-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    Найди свой лёд!
                                </a>
                                <a href="#" class="want-hockey__intro-card-consultation-link">
                                    Проконсультироваться
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="want-hockey__intro-card-image-wrapper">
                            <img src="/want-hockey-intro/2-new.webp" alt="" class="want-hockey__intro-card-image">
                        </div>
                    </div>
                </div>
                <div class="want-hockey__intro-tabs-item">
                    <div class="want-hockey__intro-card">
                        <div class="want-hockey__intro-card-text-content">
                            <h2 class="want-hockey__intro-card-heading">
                                Детско-юношеские спортивные школы (ДЮСШ)
                            </h2>
                            <div class="want-hockey__intro-card-text">
                                <p>
                                    Планируете отдать вашего ребенка заниматься хоккеем в специализированную
                                    спортивную школу? Вы по адресу!

                                </p>
                                <p>
                                    Если что – девочкки, как и мальчишки могут
                                    заниматься хоккеем наравне. Дерзайте!
                                </p>
                            </div>
                            <div class="want-hockey__intro-card-btns">


                                <a href="#" class="want-hockey__intro-card-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    Получить консультацию
                                </a>

                            </div>
                        </div>
                        <div class="want-hockey__intro-card-image-wrapper">
                            <img src="/want-hockey-intro/3-new.webp" alt="" class="want-hockey__intro-card-image">
                        </div>
                    </div>
                </div>
                <div class="want-hockey__intro-tabs-item">
                    <div class="want-hockey__intro-card">
                        <div class="want-hockey__intro-card-text-content">
                            <h2 class="want-hockey__intro-card-heading">
                                Адаптивный хоккей
                            </h2>
                            <div class="want-hockey__intro-card-text">
                                <p>
                                    На территории Республики Татарстан уже более 10 команд  в разных городах нашей
                                    республики.
                                </p>
                                <p>
                                    Вступай в ряды хоккеистов – напиши нашим кураторам и стань частью большой
                                    хоккейной семьи!
                                </p>
                            </div>
                            <div class="want-hockey__intro-card-btns">


                                <a href="#" class="want-hockey__intro-card-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    Получить консультацию
                                </a>
                                <a href="#" class="want-hockey__intro-card-consultation-link">
                                    Узнать больше
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="want-hockey__intro-card-image-wrapper">
                            <img src="/want-hockey-intro/4-new.webp" alt="" class="want-hockey__intro-card-image">
                        </div>
                    </div>
                </div>
                <div class="want-hockey__intro-tabs-item">
                    <div class="want-hockey__intro-card">
                        <div class="want-hockey__intro-card-text-content">
                            <h2 class="want-hockey__intro-card-heading">
                                Любительский хоккей (Женщины)
                            </h2>
                            <div class="want-hockey__intro-card-text">
                                <p>
                                    Пришло время попробовать свои силы в настоящей команде!
                                </p>
                                <p>
                                    Хотите заниматься женским хоккеем, но не уверены, что в вашем районе есть
                                    женская команда? Мы
                                    поможем.
                                </p>
                            </div>
                            <div class="want-hockey__intro-card-btns">
                                <a href="#" class="want-hockey__intro-card-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    Найди свой лёд!
                                </a>
                                <a href="#" class="want-hockey__intro-card-consultation-link">
                                    Проконсультироваться
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="want-hockey__intro-card-image-wrapper">
                            <img src="/want-hockey-intro/5-new.webp" alt="" class="want-hockey__intro-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>