.air-datepicker-nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ebebeb;
}

.air-datepicker-nav--action {
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
  background: #ebebeb;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  & svg {
    display: none;
  }

  @media (hover: hover) {
    &[data-action="prev"]:hover {
      &::before {
        border-color: transparent #ff0000 transparent transparent;
      }
    }
    &[data-action="next"]:hover {
      &::before {
        border-color: transparent transparent transparent #ff0000;
      }
    }
  }
}

.air-datepicker-nav--action[data-action="prev"] {
  &::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.4rem 0.6rem 0.4rem 0;
    border-color: transparent white transparent transparent;
    transition: border-color 0.2s;
  }
}
.air-datepicker-nav--action[data-action="next"] {
  &::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.4rem 0 0.4rem 0.6rem;
    border-color: transparent transparent transparent white;
    transition: border-color 0.2s;
  }
}

.air-datepicker-nav--title {
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;

  & i {
    font-style: normal;
  }
}

.air-datepicker-body--day-names {
  display: none;
}

.air-datepicker-body--cells.-days- {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  padding: 2rem;
  row-gap: 1.7rem;
}

.air-datepicker-cell.-day- {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.7;
  text-align: center;
  color: #19251e;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: color 0.2s, background-color 0.2s;
  user-select: none;
  &.-weekend- {
    color: #949891;
  }
}

.air-datepicker-cell.-day-.-in-range- {
  background: #f3f3f3;
}

.air-datepicker-cell.-day-.-current- {
  color: var(--primary-color);
}

.air-datepicker-cell.-day-.-range-to-,
.air-datepicker-cell.-day-.-range-from- {
  background-color: var(--primary-color);
  color: white;
}

.air-datepicker-cell.-day-.-selected- {
  background-color: var(--primary-color);
  color: white;
}

.air-datepicker-body.-days-.-hidden- {
  display: none;
}

.air-datepicker-body.-months-.-hidden- {
  display: none;
}

.air-datepicker-body.-years-.-hidden- {
  display: none;
}

.air-datepicker-body--cells.-years- {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 2rem 0.4rem;
  gap: 1.5rem;
}

.air-datepicker-body--cells.-months- {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 2rem 0.4rem;
  gap: 1.5rem;
}

.air-datepicker-cell.-month- {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
  transition: backround-color 0.2s, color 0.2s;
  display: block;
  width: 100%;
  padding: 0.1rem 0;
  cursor: pointer;
}

.air-datepicker-cell.-year- {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
  transition: backround-color 0.2s, color 0.2s;
  display: block;
  width: 100%;
  padding: 0.1rem 0;
  cursor: pointer;
}

.air-datepicker-cell.-month-.-current- {
  color: var(--primary-color);
}

.air-datepicker-cell.-month-.-selected- {
  background-color: var(--primary-color);
  color: white;
  cursor: default;
}
.air-datepicker-cell.-year-.-current- {
  color: var(--primary-color);
}

.air-datepicker-cell.-year-.-selected- {
  background-color: var(--primary-color);
  color: white;
  cursor: default;
}
