.page-footer {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  color: white;
  background: #19251e;
}

.page-footer__top {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [content-start] minmax(0, var(--container-width, 0))
    [content-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);

  @media (--desktop) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    margin-top: -5.4rem;
    &::before {
      content: "";
      background: #222e27;
      grid-column-start: main-start;
      grid-column-end: content-end;
      grid-row: 1 / 2;
    }
  }

  @media (--mobile) {
  }
}

.page-footer__top-inner {
  grid-column-start: content-start;
  grid-column-end: content-end;

  @media (--desktop) {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 4rem;
    align-items: center;
    padding: 5.2rem 0;
  }

  @media (--mobile) {
    display: flex;
    flex-direction: column;
    padding-top: 5.2rem;
    padding-bottom: 6rem;
    gap: 4rem;
  }
}

.page-footer__nav {
  @media (--desktop) {
    grid-column: 4 / 10;
    margin-left: -4rem;
  }
}

.page-footer__nav-list {
  @media (--desktop) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    row-gap: 1rem;
  }

  @media (--mobile) {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
  }
}

.page-footer__nav-list-item {
  flex-shrink: 0;
}

.page-footer__nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  color: white;
  transition: color 0.2s;
  &:link,
  &:visited {
    color: white;
  }
  @media (hover: hover) {
    &:hover {
      color: #949891;
    }
  }

  @media (--mobile) {
    text-align: center;
    & svg {
      display: inline-block;
      fill: currentColor;
      width: 0.6rem;
      height: 0.4rem;
      vertical-align: middle;
      margin-left: 0.2em;
      margin-bottom: 0.1em;
      transition: transform 0.2s;
    }
  }
}

.page-footer__nav-list-item.active .page-footer__nav-link {
  & svg {
    transform: rotate(180deg);
  }
}

.page-footer__logo {
  flex-shrink: 0;

  @media (--desktop) {
    grid-column: 1 / 3;
  }

  @media (--mobile) {
    align-self: center;
  }
}

.page-footer__logo-image {
  width: 10.5rem;

  @media (--mobile) {
    width: 10.5rem;
  }
}

.page-footer__callback-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  flex-shrink: 0;
  user-select: none;
  padding: 1rem 3.5rem;
  border: 1px solid #ffffff;
  transition: background-color 0.2s, color 0.2s;
  white-space: nowrap;
  align-self: flex-start;
  text-align: center;
  &:link,
  &:visited {
    color: white;
  }

  @media (hover: hover) {
    &:hover {
      background-color: white;
      color: var(--primary-color);
    }
  }

  @media (--mobile) {
    align-self: stretch;
    order: -1;
  }
}

.page-footer__social-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;

  @media (--desktop) {
    grid-column: 10 / 13;
    margin-left: -4rem;
  }

  @media (--mobile) {
    gap: 5.7rem;
  }
}

.page-footer__social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  @media (--mobile) {
    gap: 1.8rem;
    justify-content: center;
  }
}

.page-footer__social-list-item {
  flex-shrink: 0;
}

.page-footer__social-link {
  display: block;
  width: 2.2rem;
  height: 2.2rem;

  & svg {
    width: 100%;
    height: 100%;
    fill: white;
    transition: fill 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      & svg {
        fill: #949891;
      }
    }
  }

  @media (--mobile) {
    width: 3.8rem;
    height: 3.8rem;
  }
}

.page-footer__bottom {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [content-start] minmax(0, var(--container-width, 0))
    [content-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);

  @media (--desktop) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  @media (--mobile) {
    background: #222e27;
  }
}

.page-footer__bottom-inner {
  grid-column-start: content-start;
  grid-column-end: content-end;

  @media (--desktop) {
    padding: 7rem 0;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 4rem;
    grid-row: 1 / 2;
  }

  @media (--mobile) {
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
  }
}

.page-footer__info {
  display: flex;
  flex-direction: column;
  color: #949891;
  @media (--desktop) {
    grid-column: 1 / 3;
    gap: 4rem;
    padding-top: 0.3rem;
  }

  @media (--mobile) {
    color: #949891;
    text-align: center;
    gap: 4rem;
  }
}

.page-footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;

  & p {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.page-footer__questions {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;

  & a {
    font-weight: 500;
    transition: color 0.2s;
    @media (hover: hover) {
      &:hover {
        color: white;
      }
    }
  }
}

.page-footer__links {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  @media (--mobile) {
    align-items: center;
    text-align: center;
    margin: 0;
  }
}

.page-footer__link {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #949891;
  transition: color 0.2s;
  &:link,
  &:visited {
    color: #949891;
  }

  @media (hover: hover) {
    &:hover {
      color: white;
    }
  }
}

.page-footer__leagues {
  @media (--desktop) {
    grid-column: 4 / -1;
    margin-left: -4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (--mobile) {
    display: none;
  }
}

.page-footer__leagues-col {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.page-footer__leagues-block {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.page-footer__leagues-block-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #4e524e;
}

.page-footer__leagues-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.page-footer__leagues-link {
  display: block;
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: white;
  transition: color 0.2s;
  &:link,
  &:visited {
    color: white;
  }

  @media (hover: hover) {
    &:hover {
      color: #949891;
    }
  }
}

.page-footer__secondary-links {
  display: none;

  @media (--mobile) {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.4rem;
    row-gap: 3rem;
  }
}

.page-footer__secondary-link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 16px;
  display: block;
}

.page-footer__nav-list-item--has-submenu {
  @media (--desktop) {
    display: none;
  }
}

.page-footer__nav-submenu {
  height: 0;
  overflow: hidden;
}

.page-footer__nav-submenu-inner {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 5rem;
}

.page-footer__nav-submenu-block {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.page-footer__nav-submenu-block-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  color: #4e524e;
}

.page-header__nav-submenu-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-footer__nav-submenu-link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  display: block;
  text-align: center;
}
