.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__content {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [content-start] minmax(0, var(--container-width, 0))
    [content-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
  position: relative;
}

.page-header__content-inner {
  grid-column-start: content-start;
  grid-column-end: content-end;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-areas: "logo top" "logo bottom";
  column-gap: 4rem;

  &::after {
    content: "";

    background: #19251e;
    z-index: -1;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    pointer-events: none;
  }

  &::before {
    content: "";
    pointer-events: none;
    background: #008000;
    z-index: -1;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }
}

.page-header__logo {
  display: grid;
  place-items: center;
  background-color: #fff;
  grid-area: logo;
  width: 16rem;
  z-index: 2;
}

.page-header__top {
  grid-area: top;
  display: flex;
  align-items: center;
  padding: 0.4rem 0;
  position: relative;
  z-index: 1;
  gap: 3rem;
}

.page-header__bottom {
  grid-area: bottom;
  display: flex;
  align-items: center;
  padding: 0.6rem 0;
  gap: 3rem;
}

.page-header__logo-image {
  width: 7.5rem;
  height: auto;
}

.page-header__links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.4rem;
  row-gap: 1.2rem;
}

.page-header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #949891;
  transition: color 0.2s;

  &:link,
  &:visited {
    color: #949891;
  }

  @media (hover: hover) {
    &:hover {
      color: white;
    }
  }
}

.page-header__social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  gap: 3.4rem;
  row-gap: 1.7rem;
}

.page-header__social-list-item {
  flex-shrink: 0;
}

.page-header__social-link {
  width: 3.5rem;
  display: block;
  height: 2.2rem;
  display: grid;
  place-items: center;

  & svg {
    width: 2rem;
    height: 2rem;
    fill: #ebebeb;
    transition: fill 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      & svg {
        fill: #acafad;
      }
    }
  }
}

.page-header__nav {
  align-self: stretch;
  margin: -0.6rem 0;
  display: flex;
  flex-direction: column;
}

.page-header__nav-list {
  display: flex;

  gap: 2.6rem;
  row-gap: 1.3rem;
  flex-grow: 1;
}

.page-header__nav-list-item {
  display: flex;
  flex-direction: column;

  &:hover {
    & .page-header__nav-submenu {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }

    & > .page-header__nav-link {
      &::before {
        opacity: 1;
      }
    }
  }
}

.page-header__nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  position: relative;

  &::before {
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.2rem;
    background-color: white;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
  }
  &:link,
  &:visited {
    color: white;
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}

.page-header__tatneft {
  flex-shrink: 0;
}

.page-header__tatneft-logo {
  width: 11.8rem;
  height: auto;
  display: block;
}

.page-header__join-link {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--primary-color);
  background-color: #fff;
  padding: 1.1rem 3.4rem;
  flex-shrink: 0;
  text-align: center;
  &:link,
  &:visited {
    color: var(--primary-color);
  }
}

.page-header__search-btn {
  width: 2.2rem;
  height: 2.2rem;
  display: grid;
  place-items: center;
  flex-shrink: 0;
  & svg {
    width: 100%;
    height: 100%;
    fill: white;
    transition: fill 0.2s;
  }
}

.page-header__calendar {
  display: flex;
}

.page-header__calendar-slider {
  width: 50%;
  flex-grow: 1;
  display: flex;

  & .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    border-right: 1px solid #d1d6cf;
    box-sizing: border-box;
    &:last-child {
      border-color: transparent;
    }
  }
}

.page-header__calendar-slider-inner {
  width: 50%;
  flex-grow: 1;
}
.page-header__calendar-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #949891;
  flex-shrink: 0;
  padding: 1rem;
  transition: background-color 0.2s;
  & svg {
    width: 2rem;
    height: 2rem;
    fill: #ebebeb;
    transition: fill 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--primary-color);
      & svg {
        fill: white;
      }
    }
  }
}

.page-header__calendar-slider-arrow {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  background: #d1d6cf;
  transition: background-color 0.2s;
  width: 3rem;
  & svg {
    width: 0.6rem;
    height: 0.8rem;
    fill: #999999;
    transition: fill 0.2s;
  }

  &.swiper-button-disabled {
    background: #f3f3f3;
    cursor: default;
    & svg {
      fill: #d9d9d9;
    }
  }

  &:not(.swiper-button-disabled) {
    @media (hover: hover) {
      &:hover {
        background-color: var(--primary-color);

        & svg {
          fill: white;
        }
      }
    }
  }
}

.page-header__calendar-slider-card {
  background-color: #fff;
  display: flex;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
}

@media (hover: hover) {
  .page-header__calendar-slider-card:has(
      .page-header__calendar-slider-card-date:hover
    ) {
    background-color: var(--primary-color);
    color: white;

    & .page-header__calendar-slider-card-link {
      color: white;
    }
  }
}

.page-header__calendar-slider-card-date {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2rem;
  width: 3.6rem;
  min-height: 7rem;
  justify-content: center;
}

.page-header__calendar-slider-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.page-header__calendar-slider-card-link {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  transition: color 0.2s;
  &.disabled {
    color: rgba(23, 41, 32, 0.2);
    cursor: default;
    &:link,
    &:visited {
      color: rgba(23, 41, 32, 0.2);
    }
  }

  &:not(.disabled) {
    @media (hover: hover) {
      &:hover {
        color: var(--primary-color);
      }
    }
  }
  & svg {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    fill: currentColor;
    transition: fill 0.2s;
  }
}

.page-header__nav-submenu {
  position: absolute;
  background: #006d00;
  color: white;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 5;
  display: grid;
  grid-template-columns:
    [main-start] 1fr [content-start] minmax(0, var(--container-width, 0))
    [content-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
  padding-top: 6rem;
  padding-bottom: 10rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
}

.page-header__nav-submenu-row {
  grid-column-start: content-start;
  grid-column-end: content-end;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 4rem;

  &::before {
    content: "";
    grid-column: 1 / 3;
  }
}

.page-header__nav-submenu-col {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-column: span 3;
}

.page-header__nav-submenu-block {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.page-header__nav-submenu-block-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #19251e;
}

.page-header__nav-submenu-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-header__nav-submenu-link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
  transition: color 0.2s;
  display: block;

  @media (hover: hover) {
    &:hover {
      color: rgb(255, 255, 255, 0.6);
    }
  }
}
