.judge-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #ffffff;

  box-shadow: 0px 2rem 6rem rgba(0, 40, 9, 0.1);
}

.judge-card__image-container {
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.judge-card__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.judge-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
  background-image: url("/vospit-decor.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: 12rem auto;
}

.judge-card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.judge-card__first-name {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.judge-card__category {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-top: auto;
  color: #949891;
}

.judge-card__date {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #4e524e;
  margin-bottom: 2rem;
}
